In [17]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import selenium.webdriver
from datetime import date
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from dateutil.relativedelta import relativedelta
import csv

In [19]:
def scrap(origin,destin,trDate):
    global none
    baseDataUrl = "https://www.makemytrip.com/flight/search?itinerary="+ origin +"-"+ destin +"-"+ trDate +"&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E"

    try:
        driver = webdriver.Chrome(r"C:\Users\WIN-10\Downloads\chromedriver.exe") 
        print ("Requesting URL: " + baseDataUrl)

        driver.get(baseDataUrl)  
        print ("Webpage found ...")

        element_xpath = '//*[@id="left-side--wrapper"]/div[2]'

        
        element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))

        print ("Scrolling document upto bottom ...")
        for j in range(1, 100):
            driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")

        
        body = driver.find_element_by_tag_name("body").get_attribute("innerHTML")

        print("Closing Chrome ...")
        driver.quit()

        print("Getting data from DOM ...")
        soupBody = BeautifulSoup(body)
        
        spanFlightName = soupBody.find_all("span", 'boldFont blackText airlineName')
        print("spanFlightName  = " + str(len(spanFlightName)))

        Time = soupBody.find_all("p", {"class":"blackText fontSize18 blackFont appendBottom2 makeFlex hrtlCenter"})			# Tags with Departure Time
        print("Time Count in Scraping  = " + str(len(Time)))

        City = soupBody.findAll("p", {"class": "darkText"})
        print("City Count in Scraping  = " + str(len(City)))

        spanFlightCost = soupBody.findAll("p", {"class": "blackText fontSize18 blackFont white-space-no-wrap"})			# Tags with Flight Cost
        print("spanFlightCost Count in Scraping  = " + str(len(spanFlightCost)))

        pFlightStops = soupBody.findAll("p", {"class": "flightsLayoverInfo"})
        print("pFlightStops Count in Scraping  = " + str(len(pFlightStops)))
        
        transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops)



   
    except :
        PrintException()
        print(trDate," scraping complete")
        
        none =True

In [20]:
dates=(pd.date_range(start='18/02/2022', end='24/02/2022'))
New_date=[]
for i,date in enumerate(dates):
    day=str(date.day).zfill(2)   
    month=str(date.month).zfill(2)
    year=str(date.year)
    date=day+'/'+month+'/'+year  
    New_date.append(date)
print(New_date)

['18/02/2022', '19/02/2022', '20/02/2022', '21/02/2022', '22/02/2022', '23/02/2022', '24/02/2022']

In [21]:
#Lists to store scraped data
Airline=[]
Journey_date=[]
From=[]
To=[]
Price=[]
Dtime=[]
Atime=[]
Stops=[]

In [22]:
flight_data = pd.DataFrame(np.nan, index=[0], columns=['Airline', 'Journey_date','From','To','Dtime','Atime','Stops','Price'])
flight_data.to_csv('Flight.csv')
 
def transform(spanFlightName,trDate,City,Time,spanFlightCost,pFlightStops):
    
    Airline.clear()
    Journey_date.clear()
    Price.clear()
    Stops.clear()
    From.clear()
    Dtime.clear()
    To.clear()
    Atime.clear()
    
    global flight_data
    print("Transaform Function Running.... ")
    for i in range(0,len(spanFlightName)):
        
        Airline.append(spanFlightName[i].string)
        Journey_date.append(trDate)
        Price.append(spanFlightCost[i].string)
        Stops.append(pFlightStops[i].string)
        
      
    for j in range(0,len(Time)):
        
        if(j%2==0):
            
            From.append(City[j].string)
            Dtime.append(Time[j].string)
        else:
            
            To.append(City[j].string)
            Atime.append(Time[j].string)
    temp = {'Airline':Airline,
            'Journey_date':Journey_date,
            'From':From,
            'To':To,
            'Dtime':Dtime,
            'Atime':Atime,
            'Stops':Stops,
            'Price':Price}
    df=pd.DataFrame(temp)
    df.to_csv('Flight.csv', mode='a', header=False)
    flight_data = pd.concat([flight_data,df])
    flight_data=flight_data.reset_index(drop=True)
    display(flight_data)
    print('Lenght : ',len(flight_data))

In [23]:
list_of_dest=['GOI','AMD','TIR','BLR','BOM','DEL']
for i in range(0,len(list_of_dest)):
    orgin=list_of_dest[i]
    for_to=list_of_dest
    print("--------------")
    for j in range(0,len(for_to)):
        destin=for_to[j]
        none = False
        print("origin = "+orgin)
        print("destin = "+destin+'\n')
        if orgin!=destin:
            for i,date in enumerate(New_date) :
                if none !=True:
                    scrap(orgin,destin,date)
                    print(" ")
                else:
                    break
            else: 
                print( "-----Skiped-----")
                print(" ")

--------------
origin = GOI
destin = GOI

origin = GOI
destin = AMD

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
5,IndiGo,18/02/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
6,IndiGo,18/02/2022,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
7,IndiGo,18/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
8,IndiGo,18/02/2022,Goa,Ahmedabad,18:55,05:00,1 stop via Bengaluru,"₹ 5,316"
9,SpiceJet,18/02/2022,Goa,Ahmedabad,21:05,23:15,Non stop,"₹ 6,365"
10,IndiGo,18/02/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 7,143"
11,IndiGo,18/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 7,600"
12,IndiGo,18/02/2022,Goa,Ahmedabad,20:10,06:25,1 stop via Chennai,"₹ 7,600"
13,IndiGo,18/02/2022,Goa,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 8,057"
14,Go First,18/02/2022,Goa,Ahmedabad,18:15,06:40,1 stop via Mumbai,"₹ 8,171"
15,IndiGo,18/02/2022,Goa,Ahmedabad,13:10,20:25,1 stop via Mumbai,"₹ 8,513"
16,IndiGo,18/02/2022,Goa,Ahmedabad,00:05,06:55,1 stop via Hyderabad,"₹ 9,884"
17,IndiGo,18/02/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 10,094"
18,IndiGo,18/02/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 10,797"
19,IndiGo,18/02/2022,Goa,Ahmedabad,14:40,21:30,1 stop via Indore,"₹ 11,254"
20,Air India,18/02/2022,Goa,Ahmedabad,14:10,21:05,1 stop via New Delhi,"₹ 12,996"
21,Vistara,18/02/2022,Goa,Ahmedabad,14:40,23:00,"2 stop via Bengaluru,New Delhi","₹ 14,692"

Lenght :  22

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 53
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
5,IndiGo,18/02/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
6,IndiGo,18/02/2022,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
7,IndiGo,18/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
8,IndiGo,18/02/2022,Goa,Ahmedabad,18:55,05:00,1 stop via Bengaluru,"₹ 5,316"
9,SpiceJet,18/02/2022,Goa,Ahmedabad,21:05,23:15,Non stop,"₹ 6,365"
10,IndiGo,18/02/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 7,143"
11,IndiGo,18/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 7,600"
12,IndiGo,18/02/2022,Goa,Ahmedabad,20:10,06:25,1 stop via Chennai,"₹ 7,600"
13,IndiGo,18/02/2022,Goa,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 8,057"
14,Go First,18/02/2022,Goa,Ahmedabad,18:15,06:40,1 stop via Mumbai,"₹ 8,171"
15,IndiGo,18/02/2022,Goa,Ahmedabad,13:10,20:25,1 stop via Mumbai,"₹ 8,513"
16,IndiGo,18/02/2022,Goa,Ahmedabad,00:05,06:55,1 stop via Hyderabad,"₹ 9,884"
17,IndiGo,18/02/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 10,094"
18,IndiGo,18/02/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 10,797"
19,IndiGo,18/02/2022,Goa,Ahmedabad,14:40,21:30,1 stop via Indore,"₹ 11,254"
20,Air India,18/02/2022,Goa,Ahmedabad,14:10,21:05,1 stop via New Delhi,"₹ 12,996"
21,Vistara,18/02/2022,Goa,Ahmedabad,14:40,23:00,"2 stop via Bengaluru,New Delhi","₹ 14,692"
22,SpiceJet,19/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
23,SpiceJet,19/02/2022,Goa,Ahmedabad,21:05,23:15,Non stop,"₹ 5,315"
24,Go First,19/02/2022,Goa,Ahmedabad,06:40,20:25,1 stop via Mumbai,"₹ 5,315"
25,Go First,19/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
26,Go First,19/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,316"
27,IndiGo,19/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
28,IndiGo,19/02/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
29,IndiGo,19/02/2022,Goa,Ahmedabad,15:25,20:45,1 stop via Bengaluru,"₹ 5,316"
30,IndiGo,19/02/2022,Goa,Ahmedabad,14:35,20:45,1 stop via Bengaluru,"₹ 5,316"
31,IndiGo,19/02/2022,Goa,Ahmedabad,21:45,05:00,1 stop via Bengaluru,"₹ 5,316"
32,IndiGo,19/02/2022,Goa,Ahmedabad,18:55,05:00,1 stop via Bengaluru,"₹ 5,316"
33,IndiGo,19/02/2022,Goa,Ahmedabad,21:20,06:55,1 stop via Hyderabad,"₹ 5,316"
34,IndiGo,19/02/2022,Goa,Ahmedabad,20:10,06:25,1 stop via Chennai,"₹ 6,686"
35,Air India,19/02/2022,Goa,Ahmedabad,07:05,19:55,1 stop via Mumbai,"₹ 6,724"
36,IndiGo,19/02/2022,Goa,Ahmedabad,00:05,06:55,1 stop via Hyderabad,"₹ 7,143"
37,"AirAsia, Air India",19/02/2022,Goa,Ahmedabad,06:25,19:55,1 stop via Mumbai,"₹ 7,900"
38,IndiGo,19/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 8,513"
39,IndiGo,19/02/2022,Goa,Ahmedabad,14:30,22:15,1 stop via Hyderabad,"₹ 8,513"
40,IndiGo,19/02/2022,Goa,Ahmedabad,14:40,21:30,1 stop via Indore,"₹ 8,970"
41,"Vistara, IndiGo",19/02/2022,Goa,Ahmedabad,12:15,18:30,1 stop via Mumbai,"₹ 9,318"
42,"IndiGo, Air India",19/02/2022,Goa,Ahmedabad,13:10,19:55,1 stop via Mumbai,"₹ 9,999"
43,"Vistara, Air India",19/02/2022,Goa,Ahmedabad,13:20,19:55,1 stop via Mumbai,"₹ 10,368"
44,"SpiceJet, Air India",19/02/2022,Goa,Ahmedabad,13:30,19:55,1 stop via Mumbai,"₹ 10,418"
45,IndiGo,19/02/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 11,459"
46,"Vistara, IndiGo",19/02/2022,Goa,Ahmedabad,13:20,18:30,1 stop via Mumbai,"₹ 11,628"
47,"SpiceJet, IndiGo",19/02/2022,Goa,Ahmedabad,13:30,18:30,1 stop via Mumbai,"₹ 11,678"

Lenght :  48

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 43
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
64,Go First,20/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 12,981"
65,Air India,20/02/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 13,717"
66,IndiGo,20/02/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 13,874"
67,IndiGo,20/02/2022,Goa,Ahmedabad,14:40,21:30,1 stop via Indore,"₹ 14,924"
68,Vistara,20/02/2022,Goa,Ahmedabad,14:30,20:05,1 stop via New Delhi,"₹ 28,470"

Lenght :  69

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
86,IndiGo,21/02/2022,Goa,Ahmedabad,18:30,01:20,1 stop via Mumbai,"₹ 12,456"
87,IndiGo,21/02/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 13,769"
88,IndiGo,21/02/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 14,294"
89,Air India,21/02/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 14,347"
90,Vistara,21/02/2022,Goa,Ahmedabad,14:40,23:00,"2 stop via Bengaluru,New Delhi","₹ 17,396"

Lenght :  91

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
108,IndiGo,22/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 8,970"
109,Go First,22/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 9,305"
110,IndiGo,22/02/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 9,674"
111,Air India,22/02/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 10,536"
112,Vistara,22/02/2022,Goa,Ahmedabad,14:40,23:00,"2 stop via Bengaluru,New Delhi","₹ 15,349"

Lenght :  113

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
132,Air India,23/02/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 7,533"
133,IndiGo,23/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 7,600"
134,Go First,23/02/2022,Goa,Ahmedabad,13:15,19:25,1 stop via Mumbai,"₹ 8,120"
135,IndiGo,23/02/2022,Goa,Ahmedabad,16:30,21:25,1 stop via Mumbai,"₹ 9,044"
136,Vistara,23/02/2022,Goa,Ahmedabad,14:30,23:00,1 stop via New Delhi,"₹ 14,977"

Lenght :  137

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-AMD-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
155,IndiGo,24/02/2022,Goa,Ahmedabad,01:35,07:50,1 stop via Mumbai,"₹ 6,686"
156,Air India,24/02/2022,Goa,Ahmedabad,15:20,19:55,1 stop via Mumbai,"₹ 7,071"
157,IndiGo,24/02/2022,Goa,Ahmedabad,17:55,22:15,1 stop via Hyderabad,"₹ 8,057"
158,IndiGo,24/02/2022,Goa,Ahmedabad,13:10,18:30,1 stop via Mumbai,"₹ 8,513"
159,Vistara,24/02/2022,Goa,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 10,807"

Lenght :  160

-----Skiped-----

origin = GOI
destin = TIR

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
171,IndiGo,18/02/2022,Goa,Tirupati,07:35,13:30,1 stop via Hyderabad,"₹ 13,821"
172,"SpiceJet, IndiGo",18/02/2022,Goa,Tirupati,08:15,13:30,1 stop via Hyderabad,"₹ 14,283"
173,"SpiceJet, IndiGo",18/02/2022,Goa,Tirupati,08:15,16:40,1 stop via Hyderabad,"₹ 14,283"
174,"IndiGo, SpiceJet",18/02/2022,Goa,Tirupati,00:05,11:10,1 stop via Hyderabad,"₹ 14,284"
175,Air India,18/02/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 17,287"

Lenght :  176

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
182,IndiGo,19/02/2022,Goa,Tirupati,07:20,13:30,1 stop via Hyderabad,"₹ 12,402"
183,IndiGo,19/02/2022,Goa,Tirupati,07:20,16:40,1 stop via Hyderabad,"₹ 12,402"
184,"IndiGo, SpiceJet",19/02/2022,Goa,Tirupati,00:05,11:10,1 stop via Hyderabad,"₹ 13,548"
185,"IndiGo, SpiceJet",19/02/2022,Goa,Tirupati,00:05,07:40,1 stop via Hyderabad,"₹ 14,284"
186,Air India,19/02/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 22,432"

Lenght :  187

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
193,"Go First, IndiGo",20/02/2022,Goa,Tirupati,08:45,13:30,1 stop via Hyderabad,"₹ 11,448"
194,IndiGo,20/02/2022,Goa,Tirupati,14:30,19:25,1 stop via Hyderabad,"₹ 14,187"
195,Air India,20/02/2022,Goa,Tirupati,21:00,13:35,"2 stop via Bengaluru,Hyderabad","₹ 14,925"
196,"Vistara, IndiGo",20/02/2022,Goa,Tirupati,08:25,19:25,"2 stop via Mumbai,Hyderabad","₹ 15,072"
197,"Vistara, IndiGo",20/02/2022,Goa,Tirupati,08:25,16:40,"2 stop via Mumbai,Hyderabad","₹ 16,017"

Lenght :  198

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
205,"AirAsia, IndiGo",21/02/2022,Goa,Tirupati,07:35,19:25,"2 stop via Bengaluru,Hyderabad","₹ 12,266"
206,"SpiceJet, IndiGo",21/02/2022,Goa,Tirupati,08:15,13:30,1 stop via Hyderabad,"₹ 12,918"
207,IndiGo,21/02/2022,Goa,Tirupati,07:35,13:30,1 stop via Hyderabad,"₹ 15,029"
208,"IndiGo, SpiceJet",21/02/2022,Goa,Tirupati,00:05,07:40,1 stop via Hyderabad,"₹ 17,329"
209,Air India,21/02/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 22,432"

Lenght :  210

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
224,"IndiGo, Air India",22/02/2022,Goa,Tirupati,07:35,13:35,1 stop via Hyderabad,"₹ 9,559"
225,"AirAsia, IndiGo",22/02/2022,Goa,Tirupati,07:35,19:25,"2 stop via Bengaluru,Hyderabad","₹ 9,603"
226,"SpiceJet, IndiGo",22/02/2022,Goa,Tirupati,08:15,16:40,1 stop via Hyderabad,"₹ 10,293"
227,SpiceJet,22/02/2022,Goa,Tirupati,08:15,07:40,1 stop via Hyderabad,"₹ 11,512"
228,Air India,22/02/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 19,387"

Lenght :  229

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
239,"AirAsia, IndiGo",23/02/2022,Goa,Tirupati,07:35,19:25,"2 stop via Bengaluru,Hyderabad","₹ 9,603"
240,"IndiGo, SpiceJet",23/02/2022,Goa,Tirupati,00:05,07:40,1 stop via Hyderabad,"₹ 11,028"
241,Air India,23/02/2022,Goa,Tirupati,20:25,13:35,"2 stop via Bengaluru,Hyderabad","₹ 16,710"
242,Air India,23/02/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 17,497"
243,Air India,23/02/2022,Goa,Tirupati,21:00,13:35,"2 stop via Bengaluru,Hyderabad","₹ 17,760"

Lenght :  244

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-TIR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
256,SpiceJet,24/02/2022,Goa,Tirupati,08:15,07:40,1 stop via Hyderabad,"₹ 8,572"
257,IndiGo,24/02/2022,Goa,Tirupati,13:10,19:25,"2 stop via Mumbai,Hyderabad","₹ 9,452"
258,"AirAsia, IndiGo",24/02/2022,Goa,Tirupati,07:35,19:25,"2 stop via Bengaluru,Hyderabad","₹ 9,812"
259,IndiGo,24/02/2022,Goa,Tirupati,14:30,19:25,1 stop via Hyderabad,"₹ 9,903"
260,Air India,24/02/2022,Goa,Tirupati,15:20,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,237"

Lenght :  261

-----Skiped-----

origin = GOI
destin = BLR

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
286,"AirAsia, IndiGo",18/02/2022,Goa,Bengaluru,17:55,22:50,1 stop via Hyderabad,"₹ 8,930"
287,"IndiGo, AirAsia",18/02/2022,Goa,Bengaluru,17:55,23:15,1 stop via Hyderabad,"₹ 9,140"
288,Vistara,18/02/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 9,202"
289,"SpiceJet, Vistara",18/02/2022,Goa,Bengaluru,05:25,10:45,1 stop via Mumbai,"₹ 9,316"
290,"IndiGo, Air India",18/02/2022,Goa,Bengaluru,13:10,18:30,1 stop via Mumbai,"₹ 9,474"

Lenght :  291

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 53
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
312,"AirAsia, IndiGo",19/02/2022,Goa,Bengaluru,06:25,11:55,1 stop via Mumbai,"₹ 10,105"
313,"SpiceJet, Vistara",19/02/2022,Goa,Bengaluru,05:25,10:45,1 stop via Mumbai,"₹ 10,262"
314,"Go First, IndiGo",19/02/2022,Goa,Bengaluru,06:40,11:55,1 stop via Mumbai,"₹ 10,313"
315,Vistara,19/02/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 11,722"
316,"IndiGo, Star Air",19/02/2022,Goa,Bengaluru,14:30,21:25,1 stop via Hyderabad,"₹ 13,128"

Lenght :  317

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
343,Vistara,20/02/2022,Goa,Bengaluru,08:25,17:00,"2 stop via Mumbai,New Delhi","₹ 25,320"
344,Vistara,20/02/2022,Goa,Bengaluru,14:30,23:20,1 stop via New Delhi,"₹ 25,372"
345,Air India,20/02/2022,Goa,Bengaluru,07:05,16:15,"2 stop via Mumbai,New Delhi","₹ 27,997"
346,Vistara,20/02/2022,Goa,Bengaluru,13:20,19:15,1 stop via Mumbai,"₹ 30,832"
347,Air India,20/02/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 32,722"

Lenght :  348

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 53
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
369,Vistara,21/02/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 14,557"
370,Air India,21/02/2022,Goa,Bengaluru,20:25,11:10,1 stop via Mumbai,"₹ 14,557"
371,Go First,21/02/2022,Goa,Bengaluru,23:45,08:40,1 stop via New Delhi,"₹ 15,213"
372,Air India,21/02/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 20,857"
373,Vistara,21/02/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 22,117"

Lenght :  374

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
398,Vistara,22/02/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 14,557"
399,Air India,22/02/2022,Goa,Bengaluru,20:25,11:10,1 stop via Mumbai,"₹ 14,557"
400,Go First,22/02/2022,Goa,Bengaluru,17:40,08:40,1 stop via New Delhi,"₹ 15,213"
401,Air India,22/02/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 16,027"
402,Vistara,22/02/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 19,282"

Lenght :  403

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
426,Air India,23/02/2022,Goa,Bengaluru,21:00,22:30,Non stop,"₹ 10,830"
427,Vistara,23/02/2022,Goa,Bengaluru,13:20,17:45,1 stop via Mumbai,"₹ 10,830"
428,Go First,23/02/2022,Goa,Bengaluru,17:40,08:40,1 stop via New Delhi,"₹ 15,213"
429,Air India,23/02/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 15,502"
430,Vistara,23/02/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 17,287"

Lenght :  431

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BLR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 67
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
459,Air India,24/02/2022,Goa,Bengaluru,15:20,08:55,"2 stop via Mumbai,New Delhi","₹ 12,460"
460,Vistara,24/02/2022,Goa,Bengaluru,21:55,08:40,1 stop via New Delhi,"₹ 12,592"
461,Go First,24/02/2022,Goa,Bengaluru,17:40,08:40,1 stop via New Delhi,"₹ 15,213"
462,Air India,24/02/2022,Goa,Bengaluru,14:10,00:10,1 stop via New Delhi,"₹ 16,867"
463,Vistara,24/02/2022,Goa,Bengaluru,14:30,22:40,1 stop via New Delhi,"₹ 22,117"

Lenght :  464

-----Skiped-----

origin = GOI
destin = BOM

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 37
Time Count in Scraping  = 74
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 37
pFlightStops Count in Scraping  = 37
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
496,Go First,18/02/2022,Goa,Mumbai,20:40,08:40,1 stop via Ahmedabad,"₹ 16,735"
497,Air India,18/02/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 17,287"
498,Vistara,18/02/2022,Goa,Mumbai,14:30,23:50,1 stop via New Delhi,"₹ 20,647"
499,Vistara,18/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 20,962"
500,Vistara,18/02/2022,Goa,Mumbai,14:40,20:15,1 stop via Bengaluru,"₹ 22,096"

Lenght :  501

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 34
Time Count in Scraping  = 68
City Count in Scraping  = 70
spanFlightCost Count in Scraping  = 34
pFlightStops Count in Scraping  = 34
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
530,AirAsia,19/02/2022,Goa,Mumbai,16:35,06:35,1 stop via New Delhi,"₹ 14,558"
531,Air India,19/02/2022,Goa,Mumbai,21:00,21:15,"2 stop via Bengaluru,New Delhi","₹ 15,726"
532,Air India,19/02/2022,Goa,Mumbai,21:00,21:15,"2 stop via Bengaluru,New Delhi","₹ 15,726"
533,AirAsia,19/02/2022,Goa,Mumbai,15:30,06:35,1 stop via New Delhi,"₹ 16,340"
534,Vistara,19/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 17,812"

Lenght :  535

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
569,Vistara,20/02/2022,Goa,Mumbai,14:30,22:00,1 stop via New Delhi,"₹ 24,112"
570,Air India,20/02/2022,Goa,Mumbai,14:10,21:15,1 stop via New Delhi,"₹ 25,477"
571,AirAsia,20/02/2022,Goa,Mumbai,15:30,06:35,1 stop via New Delhi,"₹ 26,211"
572,Vistara,20/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 32,302"
573,AirAsia,20/02/2022,Goa,Mumbai,08:20,21:05,1 stop via New Delhi,"₹ 32,617"

Lenght :  574

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 81
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
609,Go First,21/02/2022,Goa,Mumbai,23:45,10:10,1 stop via New Delhi,"₹ 14,318"
610,AirAsia,21/02/2022,Goa,Mumbai,15:30,06:35,1 stop via New Delhi,"₹ 14,558"
611,AirAsia,21/02/2022,Goa,Mumbai,08:20,21:05,1 stop via New Delhi,"₹ 19,258"
612,Air India,21/02/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 19,387"
613,Vistara,21/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 20,647"

Lenght :  614

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
649,AirAsia,22/02/2022,Goa,Mumbai,15:30,06:35,1 stop via New Delhi,"₹ 13,612"
650,Go First,22/02/2022,Goa,Mumbai,17:40,10:10,1 stop via New Delhi,"₹ 13,743"
651,Air India,22/02/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 14,557"
652,AirAsia,22/02/2022,Goa,Mumbai,16:35,06:35,1 stop via New Delhi,"₹ 14,558"
653,Vistara,22/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 17,812"

Lenght :  654

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 42
Time Count in Scraping  = 84
City Count in Scraping  = 85
spanFlightCost Count in Scraping  = 42
pFlightStops Count in Scraping  = 42
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
691,Go First,23/02/2022,Goa,Mumbai,17:40,10:10,1 stop via New Delhi,"₹ 13,743"
692,Air India,23/02/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 14,032"
693,Air India,23/02/2022,Goa,Mumbai,20:25,08:35,1 stop via Bengaluru,"₹ 14,505"
694,Air India,23/02/2022,Goa,Mumbai,21:00,08:35,1 stop via Bengaluru,"₹ 15,555"
695,Vistara,23/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 15,817"

Lenght :  696

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-BOM-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 42
Time Count in Scraping  = 84
City Count in Scraping  = 86
spanFlightCost Count in Scraping  = 42
pFlightStops Count in Scraping  = 42
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
733,Vistara,24/02/2022,Goa,Mumbai,21:55,07:55,1 stop via New Delhi,"₹ 13,192"
734,Go First,24/02/2022,Goa,Mumbai,17:40,10:10,1 stop via New Delhi,"₹ 13,743"
735,AirAsia,24/02/2022,Goa,Mumbai,17:55,00:35,"2 stop via Hyderabad,Bengaluru","₹ 14,558"
736,Air India,24/02/2022,Goa,Mumbai,14:10,20:00,1 stop via New Delhi,"₹ 15,397"
737,Vistara,24/02/2022,Goa,Mumbai,14:30,21:15,1 stop via New Delhi,"₹ 20,647"

Lenght :  738

-----Skiped-----

origin = GOI
destin = DEL

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
774,IndiGo,18/02/2022,Goa,New Delhi,16:30,21:25,1 stop via Mumbai,"₹ 10,855"
775,Vistara,18/02/2022,Goa,New Delhi,13:20,18:05,1 stop via Mumbai,"₹ 10,987"
776,Air India,18/02/2022,Goa,New Delhi,14:10,16:45,Non stop,"₹ 11,722"
777,AirAsia,18/02/2022,Goa,New Delhi,08:20,10:55,Non stop,"₹ 12,748"
778,Vistara,18/02/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 13,507"

Lenght :  779

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 38
Time Count in Scraping  = 76
City Count in Scraping  = 76
spanFlightCost Count in Scraping  = 38
pFlightStops Count in Scraping  = 38
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
812,AirAsia,19/02/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 10,670"
813,AirAsia,19/02/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 10,670"
814,Vistara,19/02/2022,Goa,New Delhi,12:15,16:55,1 stop via Mumbai,"₹ 11,092"
815,"SpiceJet, Vistara",19/02/2022,Goa,New Delhi,05:25,11:00,1 stop via Mumbai,"₹ 11,260"
816,Vistara,19/02/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 12,247"

Lenght :  817

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 80
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
851,Air India,20/02/2022,Goa,New Delhi,14:10,16:45,Non stop,"₹ 18,232"
852,AirAsia,20/02/2022,Goa,New Delhi,08:20,10:55,Non stop,"₹ 20,541"
853,IndiGo,20/02/2022,Goa,New Delhi,13:00,15:35,Non stop,"₹ 20,541"
854,IndiGo,20/02/2022,Goa,New Delhi,15:20,17:50,Non stop,"₹ 20,541"
855,AirAsia,20/02/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 20,541"

Lenght :  856

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 81
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
891,SpiceJet,21/02/2022,Goa,New Delhi,15:05,17:45,Non stop,"₹ 14,451"
892,Vistara,21/02/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 15,082"
893,AirAsia,21/02/2022,Goa,New Delhi,08:20,10:55,Non stop,"₹ 16,444"
894,AirAsia,21/02/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 20,541"
895,AirAsia,21/02/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 20,541"

Lenght :  896

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 84
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
932,IndiGo,22/02/2022,Goa,New Delhi,13:10,18:00,1 stop via Mumbai,"₹ 9,563"
933,IndiGo,22/02/2022,Goa,New Delhi,16:30,21:25,1 stop via Mumbai,"₹ 9,563"
934,AirAsia,22/02/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 10,670"
935,AirAsia,22/02/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 11,350"
936,Vistara,22/02/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 12,247"

Lenght :  937

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 82
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
972,Air India,23/02/2022,Goa,New Delhi,07:05,12:15,1 stop via Mumbai,"₹ 9,202"
973,Vistara,23/02/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 10,252"
974,SpiceJet,23/02/2022,Goa,New Delhi,15:05,17:45,Non stop,"₹ 12,665"
975,AirAsia,23/02/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 20,541"
976,AirAsia,23/02/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 20,541"

Lenght :  977

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=GOI-DEL-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 81
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1012,IndiGo,24/02/2022,Goa,New Delhi,13:00,15:35,Non stop,"₹ 15,029"
1013,Vistara,24/02/2022,Goa,New Delhi,14:30,17:05,Non stop,"₹ 15,082"
1014,AirAsia,24/02/2022,Goa,New Delhi,08:20,10:55,Non stop,"₹ 20,541"
1015,AirAsia,24/02/2022,Goa,New Delhi,15:30,18:10,Non stop,"₹ 20,541"
1016,AirAsia,24/02/2022,Goa,New Delhi,16:35,19:20,Non stop,"₹ 20,541"

Lenght :  1017

-----Skiped-----

--------------
origin = AMD
destin = GOI

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1033,Vistara,18/02/2022,Ahmedabad,Goa,20:40,11:40,"2 stop via New Delhi,Mumbai","₹ 24,382"
1034,Vistara,18/02/2022,Ahmedabad,Goa,20:40,11:40,"2 stop via New Delhi,Mumbai","₹ 24,382"
1035,IndiGo,18/02/2022,Ahmedabad,Goa,08:35,14:05,1 stop via Bengaluru,"₹ 25,284"
1036,IndiGo,18/02/2022,Ahmedabad,Goa,07:35,17:25,1 stop via Hyderabad,"₹ 25,589"
1037,Go First,18/02/2022,Ahmedabad,Goa,08:10,13:30,1 stop via New Delhi,"₹ 32,233"

Lenght :  1038

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1051,IndiGo,19/02/2022,Ahmedabad,Goa,07:35,13:55,1 stop via Hyderabad,"₹ 17,294"
1052,Go First,19/02/2022,Ahmedabad,Goa,07:10,12:45,1 stop via Mumbai,"₹ 19,834"
1053,IndiGo,19/02/2022,Ahmedabad,Goa,08:40,12:35,1 stop via Mumbai,"₹ 21,809"
1054,Vistara,19/02/2022,Ahmedabad,Goa,08:25,13:50,1 stop via New Delhi,"₹ 24,750"
1055,Air India,19/02/2022,Ahmedabad,Goa,22:20,10:05,"2 stop via New Delhi,Surat","₹ 24,950"

Lenght :  1056

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1073,SpiceJet,20/02/2022,Ahmedabad,Goa,04:00,06:00,Non stop,"₹ 14,196"
1074,IndiGo,20/02/2022,Ahmedabad,Goa,08:55,10:35,Non stop,"₹ 14,196"
1075,Air India,20/02/2022,Ahmedabad,Goa,19:35,06:25,1 stop via Mumbai,"₹ 15,772"
1076,IndiGo,20/02/2022,Ahmedabad,Goa,13:20,18:25,1 stop via Bengaluru,"₹ 16,244"
1077,Vistara,20/02/2022,Ahmedabad,Goa,08:25,13:50,1 stop via New Delhi,"₹ 19,920"

Lenght :  1078

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 41
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1093,Go First,21/02/2022,Ahmedabad,Goa,07:10,16:30,1 stop via Mumbai,"₹ 15,635"
1094,SpiceJet,21/02/2022,Ahmedabad,Goa,05:05,13:25,1 stop via Pune,"₹ 15,771"
1095,Vistara,21/02/2022,Ahmedabad,Goa,06:45,14:05,"2 stop via New Delhi,Bengaluru","₹ 16,091"
1096,IndiGo,21/02/2022,Ahmedabad,Goa,08:40,12:35,1 stop via Mumbai,"₹ 19,761"
1097,IndiGo,21/02/2022,Ahmedabad,Goa,08:35,14:05,1 stop via Bengaluru,"₹ 21,021"

Lenght :  1098

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1113,SpiceJet,22/02/2022,Ahmedabad,Goa,04:00,06:00,Non stop,"₹ 9,366"
1114,Go First,22/02/2022,Ahmedabad,Goa,07:10,12:45,1 stop via Mumbai,"₹ 12,484"
1115,IndiGo,22/02/2022,Ahmedabad,Goa,07:35,13:55,1 stop via Hyderabad,"₹ 12,826"
1116,IndiGo,22/02/2022,Ahmedabad,Goa,08:40,12:35,1 stop via Mumbai,"₹ 12,884"
1117,Vistara,22/02/2022,Ahmedabad,Goa,06:45,14:05,"2 stop via New Delhi,Bengaluru","₹ 15,304"

Lenght :  1118

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 21
Time Count in Scraping  = 42
City Count in Scraping  = 43
spanFlightCost Count in Scraping  = 21
pFlightStops Count in Scraping  = 21
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1134,IndiGo,23/02/2022,Ahmedabad,Goa,05:40,14:05,1 stop via Bengaluru,"₹ 12,826"
1135,IndiGo,23/02/2022,Ahmedabad,Goa,08:35,14:05,1 stop via Bengaluru,"₹ 14,354"
1136,IndiGo,23/02/2022,Ahmedabad,Goa,06:50,12:35,1 stop via Mumbai,"₹ 15,614"
1137,IndiGo,23/02/2022,Ahmedabad,Goa,08:40,12:35,1 stop via Mumbai,"₹ 17,084"
1138,Vistara,23/02/2022,Ahmedabad,Goa,06:45,14:05,"2 stop via New Delhi,Bengaluru","₹ 17,876"

Lenght :  1139

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-GOI-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1153,IndiGo,24/02/2022,Ahmedabad,Goa,06:50,12:35,1 stop via Mumbai,"₹ 16,349"
1154,IndiGo,24/02/2022,Ahmedabad,Goa,08:40,12:35,1 stop via Mumbai,"₹ 16,979"
1155,Air India,24/02/2022,Ahmedabad,Goa,19:35,06:25,1 stop via Mumbai,"₹ 17,347"
1156,Go First,24/02/2022,Ahmedabad,Goa,08:10,13:30,1 stop via New Delhi,"₹ 17,846"
1157,Vistara,24/02/2022,Ahmedabad,Goa,06:45,13:50,1 stop via New Delhi,"₹ 25,012"

Lenght :  1158

-----Skiped-----

origin = AMD
destin = AMD

origin = AMD
destin = TIR

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1163,IndiGo,18/02/2022,Ahmedabad,Tirupati,07:35,13:30,1 stop via Hyderabad,"₹ 22,701"
1164,"IndiGo, SpiceJet",18/02/2022,Ahmedabad,Tirupati,07:35,14:05,1 stop via Hyderabad,"₹ 23,374"
1165,Air India,18/02/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 23,857"
1166,Air India,18/02/2022,Ahmedabad,Tirupati,08:20,13:35,"4 stop via Nasik,Pune,New Delhi,Hyderabad","₹ 24,120"
1167,"IndiGo, SpiceJet",18/02/2022,Ahmedabad,Tirupati,05:40,14:05,"2 stop via Bengaluru,Hyderabad","₹ 25,684"

Lenght :  1168

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 17
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1171,IndiGo,19/02/2022,Ahmedabad,Tirupati,05:40,13:30,"2 stop via New Delhi,Hyderabad","₹ 20,874"
1172,Air India,19/02/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 21,232"
1173,Air India,19/02/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 21,232"
1174,Air India,19/02/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 22,807"
1175,Air India,19/02/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 22,807"

Lenght :  1176

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 25
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1183,IndiGo,20/02/2022,Ahmedabad,Tirupati,10:00,16:40,1 stop via Hyderabad,"₹ 12,147"
1184,"IndiGo, Air India",20/02/2022,Ahmedabad,Tirupati,07:35,13:35,1 stop via Hyderabad,"₹ 12,454"
1185,"IndiGo, SpiceJet",20/02/2022,Ahmedabad,Tirupati,07:35,14:05,1 stop via Hyderabad,"₹ 12,559"
1186,SpiceJet,20/02/2022,Ahmedabad,Tirupati,05:05,18:35,1 stop via Pune,"₹ 14,826"
1187,Air India,20/02/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 21,022"

Lenght :  1188

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1195,IndiGo,21/02/2022,Ahmedabad,Tirupati,07:35,16:40,1 stop via Hyderabad,"₹ 13,302"
1196,Air India,21/02/2022,Ahmedabad,Tirupati,18:45,13:35,"2 stop via New Delhi,Hyderabad","₹ 13,672"
1197,Air India,21/02/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,822"
1198,IndiGo,21/02/2022,Ahmedabad,Tirupati,05:40,11:45,1 stop via Bengaluru,"₹ 17,381"
1199,Air India,21/02/2022,Ahmedabad,Tirupati,08:20,13:35,"4 stop via Nasik,Pune,New Delhi,Hyderabad","₹ 26,850"

Lenght :  1200

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1209,Air India,22/02/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 13,098"
1210,Air India,22/02/2022,Ahmedabad,Tirupati,18:45,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,775"
1211,Air India,22/02/2022,Ahmedabad,Tirupati,18:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,455"
1212,Air India,22/02/2022,Ahmedabad,Tirupati,08:20,13:35,"4 stop via Nasik,Pune,New Delhi,Hyderabad","₹ 16,875"
1213,Air India,22/02/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 18,397"

Lenght :  1214

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1224,Air India,23/02/2022,Ahmedabad,Tirupati,22:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 11,974"
1225,"IndiGo, SpiceJet",23/02/2022,Ahmedabad,Tirupati,05:40,14:05,"2 stop via Bengaluru,Hyderabad","₹ 12,465"
1226,Air India,23/02/2022,Ahmedabad,Tirupati,18:45,13:35,"2 stop via New Delhi,Hyderabad","₹ 13,672"
1227,Air India,23/02/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 16,822"
1228,Air India,23/02/2022,Ahmedabad,Tirupati,18:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 17,085"

Lenght :  1229

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-TIR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1238,Air India,24/02/2022,Ahmedabad,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,588"
1239,Air India,24/02/2022,Ahmedabad,Tirupati,18:45,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,092"
1240,Air India,24/02/2022,Ahmedabad,Tirupati,18:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,560"
1241,Air India,24/02/2022,Ahmedabad,Tirupati,08:20,13:35,"4 stop via Nasik,Pune,New Delhi,Hyderabad","₹ 17,400"
1242,Air India,24/02/2022,Ahmedabad,Tirupati,19:35,13:35,"3 stop via Mumbai,New Delhi,Hyderabad","₹ 18,397"

Lenght :  1243

-----Skiped-----

origin = AMD
destin = BLR

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1254,IndiGo,18/02/2022,Ahmedabad,Bengaluru,07:35,13:20,1 stop via Hyderabad,"₹ 15,666"
1255,IndiGo,18/02/2022,Ahmedabad,Bengaluru,08:45,15:25,1 stop via New Delhi,"₹ 15,666"
1256,Vistara,18/02/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 15,720"
1257,"IndiGo, AirAsia",18/02/2022,Ahmedabad,Bengaluru,08:40,14:45,1 stop via Mumbai,"₹ 18,013"
1258,Air India,18/02/2022,Ahmedabad,Bengaluru,19:35,08:55,"2 stop via Mumbai,New Delhi","₹ 20,710"

Lenght :  1259

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1274,IndiGo,19/02/2022,Ahmedabad,Bengaluru,06:50,11:20,1 stop via Mumbai,"₹ 15,666"
1275,IndiGo,19/02/2022,Ahmedabad,Bengaluru,07:35,13:20,1 stop via Hyderabad,"₹ 15,666"
1276,"IndiGo, AirAsia",19/02/2022,Ahmedabad,Bengaluru,19:25,00:55,1 stop via Mumbai,"₹ 16,990"
1277,Vistara,19/02/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 20,235"
1278,Air India,19/02/2022,Ahmedabad,Bengaluru,22:20,08:55,1 stop via New Delhi,"₹ 21,232"

Lenght :  1279

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1297,IndiGo,20/02/2022,Ahmedabad,Bengaluru,17:10,00:20,1 stop via New Delhi,"₹ 15,178"
1298,IndiGo,20/02/2022,Ahmedabad,Bengaluru,13:20,15:40,Non stop,"₹ 15,666"
1299,IndiGo,20/02/2022,Ahmedabad,Bengaluru,08:55,13:20,1 stop via Goa,"₹ 15,666"
1300,IndiGo,20/02/2022,Ahmedabad,Bengaluru,08:45,15:25,1 stop via New Delhi,"₹ 15,666"
1301,Air India,20/02/2022,Ahmedabad,Bengaluru,22:20,08:55,1 stop via New Delhi,"₹ 21,232"

Lenght :  1302

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1319,IndiGo,21/02/2022,Ahmedabad,Bengaluru,19:40,21:55,Non stop,"₹ 12,411"
1320,Go First,21/02/2022,Ahmedabad,Bengaluru,08:00,10:00,Non stop,"₹ 14,196"
1321,"Go First, AirAsia",21/02/2022,Ahmedabad,Bengaluru,07:10,14:45,1 stop via Mumbai,"₹ 15,126"
1322,IndiGo,21/02/2022,Ahmedabad,Bengaluru,05:40,07:55,Non stop,"₹ 15,666"
1323,IndiGo,21/02/2022,Ahmedabad,Bengaluru,08:35,10:55,Non stop,"₹ 15,666"

Lenght :  1324

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1339,IndiGo,22/02/2022,Ahmedabad,Bengaluru,08:45,15:25,1 stop via New Delhi,"₹ 7,854"
1340,IndiGo,22/02/2022,Ahmedabad,Bengaluru,07:20,15:25,1 stop via New Delhi,"₹ 7,854"
1341,IndiGo,22/02/2022,Ahmedabad,Bengaluru,18:45,22:50,1 stop via Hyderabad,"₹ 8,831"
1342,Vistara,22/02/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 10,374"
1343,Air India,22/02/2022,Ahmedabad,Bengaluru,21:00,08:55,1 stop via New Delhi,"₹ 12,741"

Lenght :  1344

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 42
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1359,IndiGo,23/02/2022,Ahmedabad,Bengaluru,08:45,15:25,1 stop via New Delhi,"₹ 7,366"
1360,IndiGo,23/02/2022,Ahmedabad,Bengaluru,07:35,13:20,1 stop via Hyderabad,"₹ 7,854"
1361,IndiGo,23/02/2022,Ahmedabad,Bengaluru,06:50,11:20,1 stop via Mumbai,"₹ 8,342"
1362,Air India,23/02/2022,Ahmedabad,Bengaluru,21:00,08:55,1 stop via New Delhi,"₹ 9,160"
1363,Vistara,23/02/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 10,374"

Lenght :  1364

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BLR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1381,IndiGo,24/02/2022,Ahmedabad,Bengaluru,08:45,15:25,1 stop via New Delhi,"₹ 7,366"
1382,IndiGo,24/02/2022,Ahmedabad,Bengaluru,07:20,15:25,1 stop via New Delhi,"₹ 7,366"
1383,IndiGo,24/02/2022,Ahmedabad,Bengaluru,06:50,11:20,1 stop via Mumbai,"₹ 8,342"
1384,Air India,24/02/2022,Ahmedabad,Bengaluru,21:00,08:55,1 stop via New Delhi,"₹ 9,160"
1385,Vistara,24/02/2022,Ahmedabad,Bengaluru,06:45,11:50,1 stop via New Delhi,"₹ 10,374"

Lenght :  1386

-----Skiped-----

origin = AMD
destin = BOM

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1401,"IndiGo, Vistara",18/02/2022,Ahmedabad,Mumbai,07:20,14:00,1 stop via New Delhi,"₹ 20,152"
1402,"IndiGo, Vistara",18/02/2022,Ahmedabad,Mumbai,05:40,11:35,1 stop via New Delhi,"₹ 20,257"
1403,"IndiGo, Vistara",18/02/2022,Ahmedabad,Mumbai,08:45,15:00,1 stop via New Delhi,"₹ 20,257"
1404,"IndiGo, Vistara",18/02/2022,Ahmedabad,Mumbai,07:40,16:30,"2 stop via Lucknow,New Delhi","₹ 20,257"
1405,"SpiceJet, Vistara",18/02/2022,Ahmedabad,Mumbai,06:05,12:35,1 stop via New Delhi,"₹ 20,572"

Lenght :  1406

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 49
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1425,"IndiGo, Go First",19/02/2022,Ahmedabad,Mumbai,05:40,12:00,1 stop via New Delhi,"₹ 18,996"
1426,"IndiGo, Vistara",19/02/2022,Ahmedabad,Mumbai,05:40,11:35,1 stop via New Delhi,"₹ 19,102"
1427,Air India,19/02/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 19,762"
1428,Go First,19/02/2022,Ahmedabad,Mumbai,06:35,14:20,1 stop via Chandigarh,"₹ 20,808"
1429,Go First,19/02/2022,Ahmedabad,Mumbai,21:30,09:50,1 stop via Bengaluru,"₹ 21,495"

Lenght :  1430

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1452,Go First,20/02/2022,Ahmedabad,Mumbai,06:05,20:20,1 stop via Kolkata,"₹ 18,712"
1453,Air India,20/02/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 19,762"
1454,Air India,20/02/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 19,762"
1455,Go First,20/02/2022,Ahmedabad,Mumbai,08:10,16:35,1 stop via New Delhi,"₹ 23,414"
1456,Go First,20/02/2022,Ahmedabad,Mumbai,20:15,10:10,1 stop via New Delhi,"₹ 23,414"

Lenght :  1457

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 53
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1478,Vistara,21/02/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 15,825"
1479,Go First,21/02/2022,Ahmedabad,Mumbai,21:30,09:50,1 stop via Bengaluru,"₹ 17,347"
1480,Go First,21/02/2022,Ahmedabad,Mumbai,08:00,21:50,1 stop via Bengaluru,"₹ 18,818"
1481,Air India,21/02/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 19,762"
1482,Go First,21/02/2022,Ahmedabad,Mumbai,06:35,14:20,1 stop via Chandigarh,"₹ 20,232"

Lenght :  1483

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 22
Time Count in Scraping  = 44
City Count in Scraping  = 45
spanFlightCost Count in Scraping  = 22
pFlightStops Count in Scraping  = 22
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1500,Air India,22/02/2022,Ahmedabad,Mumbai,18:00,09:05,1 stop via New Delhi,"₹ 13,095"
1501,Air India,22/02/2022,Ahmedabad,Mumbai,21:00,09:05,1 stop via New Delhi,"₹ 13,147"
1502,Vistara,22/02/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 13,830"
1503,Air India,22/02/2022,Ahmedabad,Mumbai,08:20,20:00,"4 stop via Nasik,Pune,Bhopal,New Delhi","₹ 15,405"
1504,Go First,22/02/2022,Ahmedabad,Mumbai,06:35,14:20,1 stop via Chandigarh,"₹ 19,655"

Lenght :  1505

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 57
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1528,Go First,23/02/2022,Ahmedabad,Mumbai,08:10,16:35,1 stop via New Delhi,"₹ 11,074"
1529,Vistara,23/02/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 12,098"
1530,Air India,23/02/2022,Ahmedabad,Mumbai,22:20,09:05,1 stop via New Delhi,"₹ 12,412"
1531,Air India,23/02/2022,Ahmedabad,Mumbai,18:00,09:05,1 stop via New Delhi,"₹ 13,095"
1532,Go First,23/02/2022,Ahmedabad,Mumbai,06:35,14:20,1 stop via Chandigarh,"₹ 19,655"

Lenght :  1533

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-BOM-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 26
Time Count in Scraping  = 52
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 26
pFlightStops Count in Scraping  = 26
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1554,Air India,24/02/2022,Ahmedabad,Mumbai,18:45,09:05,1 stop via New Delhi,"₹ 10,627"
1555,Vistara,24/02/2022,Ahmedabad,Mumbai,08:25,14:00,1 stop via New Delhi,"₹ 12,570"
1556,Air India,24/02/2022,Ahmedabad,Mumbai,18:00,09:05,1 stop via New Delhi,"₹ 13,095"
1557,Air India,24/02/2022,Ahmedabad,Mumbai,08:20,20:00,"4 stop via Nasik,Pune,Bhopal,New Delhi","₹ 15,930"
1558,Go First,24/02/2022,Ahmedabad,Mumbai,06:35,14:20,1 stop via Chandigarh,"₹ 17,135"

Lenght :  1559

-----Skiped-----

origin = AMD
destin = DEL

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 23
Time Count in Scraping  = 46
City Count in Scraping  = 46
spanFlightCost Count in Scraping  = 23
pFlightStops Count in Scraping  = 23
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1577,Go First,18/02/2022,Ahmedabad,New Delhi,06:05,19:05,1 stop via Kolkata,"₹ 16,559"
1578,Go First,18/02/2022,Ahmedabad,New Delhi,07:10,19:15,1 stop via Mumbai,"₹ 17,315"
1579,Go First,18/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 17,892"
1580,Go First,18/02/2022,Ahmedabad,New Delhi,07:10,15:45,1 stop via Mumbai,"₹ 17,892"
1581,Go First,18/02/2022,Ahmedabad,New Delhi,21:30,10:10,1 stop via Bengaluru,"₹ 18,136"

Lenght :  1582

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 25
Time Count in Scraping  = 50
City Count in Scraping  = 50
spanFlightCost Count in Scraping  = 25
pFlightStops Count in Scraping  = 25
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1602,Go First,19/02/2022,Ahmedabad,New Delhi,21:30,10:10,1 stop via Bengaluru,"₹ 16,927"
1603,Go First,19/02/2022,Ahmedabad,New Delhi,21:30,10:10,1 stop via Bengaluru,"₹ 16,927"
1604,Go First,19/02/2022,Ahmedabad,New Delhi,07:10,18:15,1 stop via Mumbai,"₹ 17,315"
1605,Go First,19/02/2022,Ahmedabad,New Delhi,06:05,16:55,1 stop via Kolkata,"₹ 17,819"
1606,Go First,19/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 17,892"

Lenght :  1607

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1631,Go First,20/02/2022,Ahmedabad,New Delhi,20:05,08:10,1 stop via Mumbai,"₹ 14,691"
1632,Go First,20/02/2022,Ahmedabad,New Delhi,08:00,00:50,1 stop via Bengaluru,"₹ 17,190"
1633,Go First,20/02/2022,Ahmedabad,New Delhi,19:00,23:30,1 stop via Mumbai,"₹ 17,315"
1634,Air India,20/02/2022,Ahmedabad,New Delhi,19:35,23:45,1 stop via Mumbai,"₹ 17,452"
1635,Go First,20/02/2022,Ahmedabad,New Delhi,21:30,10:10,1 stop via Bengaluru,"₹ 20,078"

Lenght :  1636

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 55
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1658,Air India,21/02/2022,Ahmedabad,New Delhi,22:20,23:55,Non stop,"₹ 14,197"
1659,Go First,21/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 17,315"
1660,Go First,21/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 17,315"
1661,Go First,21/02/2022,Ahmedabad,New Delhi,21:30,10:10,1 stop via Bengaluru,"₹ 19,080"
1662,Go First,21/02/2022,Ahmedabad,New Delhi,08:00,00:50,1 stop via Bengaluru,"₹ 21,128"

Lenght :  1663

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 55
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1685,Go First,22/02/2022,Ahmedabad,New Delhi,20:05,08:10,1 stop via Mumbai,"₹ 9,652"
1686,Air India,22/02/2022,Ahmedabad,New Delhi,08:20,15:55,"3 stop via Nasik,Pune,Bhopal","₹ 9,840"
1687,Go First,22/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 9,965"
1688,Air India,22/02/2022,Ahmedabad,New Delhi,19:35,23:45,1 stop via Mumbai,"₹ 10,732"
1689,Go First,22/02/2022,Ahmedabad,New Delhi,18:35,02:10,1 stop via Goa,"₹ 11,993"

Lenght :  1690

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1717,Go First,23/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 9,652"
1718,Go First,23/02/2022,Ahmedabad,New Delhi,19:00,23:30,1 stop via Mumbai,"₹ 9,652"
1719,Go First,23/02/2022,Ahmedabad,New Delhi,20:05,08:10,1 stop via Mumbai,"₹ 9,652"
1720,Air India,23/02/2022,Ahmedabad,New Delhi,19:35,23:45,1 stop via Mumbai,"₹ 9,787"
1721,Air India,23/02/2022,Ahmedabad,New Delhi,08:20,21:05,"2 stop via Nasik,Pune","₹ 10,890"

Lenght :  1722

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=AMD-DEL-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 65
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1749,Go First,24/02/2022,Ahmedabad,New Delhi,07:10,12:10,1 stop via Mumbai,"₹ 9,652"
1750,Go First,24/02/2022,Ahmedabad,New Delhi,19:00,23:30,1 stop via Mumbai,"₹ 9,652"
1751,Go First,24/02/2022,Ahmedabad,New Delhi,20:05,08:10,1 stop via Mumbai,"₹ 9,652"
1752,Air India,24/02/2022,Ahmedabad,New Delhi,08:20,15:55,"3 stop via Nasik,Pune,Bhopal","₹ 10,365"
1753,Air India,24/02/2022,Ahmedabad,New Delhi,19:35,23:45,1 stop via Mumbai,"₹ 11,362"

Lenght :  1754

-----Skiped-----

--------------
origin = TIR
destin = GOI

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1761,"IndiGo, AirAsia",18/02/2022,Tirupati,Goa,09:20,17:25,1 stop via Hyderabad,"₹ 13,970"
1762,"Air India, AirAsia",18/02/2022,Tirupati,Goa,14:15,19:35,1 stop via Hyderabad,"₹ 13,970"
1763,"IndiGo, AirAsia",18/02/2022,Tirupati,Goa,14:00,19:35,1 stop via Hyderabad,"₹ 13,970"
1764,IndiGo,18/02/2022,Tirupati,Goa,17:00,20:50,1 stop via Hyderabad,"₹ 14,954"
1765,IndiGo,18/02/2022,Tirupati,Goa,19:55,23:35,1 stop via Hyderabad,"₹ 15,293"

Lenght :  1766

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1775,"SpiceJet, AirAsia",19/02/2022,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 11,236"
1776,"IndiGo, AirAsia",19/02/2022,Tirupati,Goa,10:55,17:25,1 stop via Hyderabad,"₹ 11,656"
1777,"SpiceJet, IndiGo",19/02/2022,Tirupati,Goa,08:00,13:55,1 stop via Hyderabad,"₹ 11,661"
1778,IndiGo,19/02/2022,Tirupati,Goa,09:20,13:55,1 stop via Hyderabad,"₹ 13,824"
1779,Air India,19/02/2022,Tirupati,Goa,14:15,06:25,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 24,324"

Lenght :  1780

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1786,"IndiGo, AirAsia",20/02/2022,Tirupati,Goa,14:00,19:35,1 stop via Hyderabad,"₹ 13,132"
1787,IndiGo,20/02/2022,Tirupati,Goa,19:55,23:35,1 stop via Hyderabad,"₹ 13,352"
1788,SpiceJet,20/02/2022,Tirupati,Goa,18:55,07:45,1 stop via Hyderabad,"₹ 13,405"
1789,IndiGo,20/02/2022,Tirupati,Goa,16:20,21:15,1 stop via Bengaluru,"₹ 13,457"
1790,"Air India, AirAsia",20/02/2022,Tirupati,Goa,14:15,19:35,1 stop via Hyderabad,"₹ 14,078"

Lenght :  1791

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1801,"SpiceJet, AirAsia",21/02/2022,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 10,715"
1802,IndiGo,21/02/2022,Tirupati,Goa,09:20,17:25,1 stop via Hyderabad,"₹ 10,850"
1803,IndiGo,21/02/2022,Tirupati,Goa,16:20,21:15,1 stop via Bengaluru,"₹ 11,147"
1804,IndiGo,21/02/2022,Tirupati,Goa,09:20,13:55,1 stop via Hyderabad,"₹ 16,133"
1805,Air India,21/02/2022,Tirupati,Goa,14:15,06:25,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 16,869"

Lenght :  1806

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 37
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1819,IndiGo,22/02/2022,Tirupati,Goa,19:55,23:35,1 stop via Hyderabad,"₹ 13,352"
1820,SpiceJet,22/02/2022,Tirupati,Goa,11:30,07:45,1 stop via Hyderabad,"₹ 14,875"
1821,SpiceJet,22/02/2022,Tirupati,Goa,08:00,07:45,1 stop via Hyderabad,"₹ 14,875"
1822,Air India,22/02/2022,Tirupati,Goa,14:15,06:25,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 17,184"
1823,SpiceJet,22/02/2022,Tirupati,Goa,18:55,07:45,1 stop via Hyderabad,"₹ 21,069"

Lenght :  1824

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1834,"SpiceJet, AirAsia",23/02/2022,Tirupati,Goa,11:30,17:25,1 stop via Hyderabad,"₹ 15,019"
1835,"SpiceJet, AirAsia",23/02/2022,Tirupati,Goa,11:00,17:25,1 stop via Hyderabad,"₹ 15,019"
1836,"Air India, AirAsia",23/02/2022,Tirupati,Goa,14:15,19:35,1 stop via Hyderabad,"₹ 15,020"
1837,"IndiGo, AirAsia",23/02/2022,Tirupati,Goa,14:00,19:35,1 stop via Hyderabad,"₹ 15,020"
1838,Air India,23/02/2022,Tirupati,Goa,14:15,06:25,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 19,389"

Lenght :  1839

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-GOI-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1851,SpiceJet,24/02/2022,Tirupati,Goa,18:55,07:45,1 stop via Hyderabad,"₹ 15,189"
1852,IndiGo,24/02/2022,Tirupati,Goa,19:55,23:35,1 stop via Hyderabad,"₹ 15,293"
1853,"SpiceJet, IndiGo",24/02/2022,Tirupati,Goa,08:00,13:55,1 stop via Hyderabad,"₹ 15,546"
1854,"SpiceJet, IndiGo",24/02/2022,Tirupati,Goa,18:55,23:35,1 stop via Hyderabad,"₹ 15,862"
1855,Air India,24/02/2022,Tirupati,Goa,14:15,06:25,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 22,959"

Lenght :  1856

-----Skiped-----

origin = TIR
destin = AMD

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1870,"SpiceJet, IndiGo",18/02/2022,Tirupati,Ahmedabad,18:55,06:25,"2 stop via Hyderabad,Chennai","₹ 13,105"
1871,"SpiceJet, IndiGo",18/02/2022,Tirupati,Ahmedabad,18:55,06:50,"2 stop via Hyderabad,New Delhi","₹ 13,105"
1872,"SpiceJet, IndiGo",18/02/2022,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 13,761"
1873,"SpiceJet, IndiGo",18/02/2022,Tirupati,Ahmedabad,08:00,18:05,1 stop via Hyderabad,"₹ 13,761"
1874,IndiGo,18/02/2022,Tirupati,Ahmedabad,17:00,22:15,1 stop via Hyderabad,"₹ 14,705"

Lenght :  1875

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1889,IndiGo,19/02/2022,Tirupati,Ahmedabad,10:55,18:05,1 stop via Hyderabad,"₹ 12,825"
1890,"SpiceJet, IndiGo",19/02/2022,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 13,341"
1891,"SpiceJet, IndiGo",19/02/2022,Tirupati,Ahmedabad,08:00,18:05,1 stop via Hyderabad,"₹ 13,341"
1892,IndiGo,19/02/2022,Tirupati,Ahmedabad,14:00,18:05,1 stop via Hyderabad,"₹ 13,350"
1893,IndiGo,19/02/2022,Tirupati,Ahmedabad,17:00,22:15,1 stop via Hyderabad,"₹ 18,024"

Lenght :  1894

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 37
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1907,"SpiceJet, IndiGo",20/02/2022,Tirupati,Ahmedabad,11:30,22:15,1 stop via Hyderabad,"₹ 15,861"
1908,"SpiceJet, IndiGo",20/02/2022,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 16,701"
1909,IndiGo,20/02/2022,Tirupati,Ahmedabad,14:00,22:15,1 stop via Hyderabad,"₹ 18,024"
1910,IndiGo,20/02/2022,Tirupati,Ahmedabad,14:00,18:05,1 stop via Hyderabad,"₹ 18,864"
1911,"Air India, IndiGo",20/02/2022,Tirupati,Ahmedabad,14:15,22:15,1 stop via Hyderabad,"₹ 19,117"

Lenght :  1912

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1918,"Air India, IndiGo",21/02/2022,Tirupati,Ahmedabad,14:15,22:15,1 stop via Hyderabad,"₹ 9,298"
1919,IndiGo,21/02/2022,Tirupati,Ahmedabad,17:00,22:15,1 stop via Hyderabad,"₹ 9,308"
1920,IndiGo,21/02/2022,Tirupati,Ahmedabad,14:00,18:05,1 stop via Hyderabad,"₹ 10,254"
1921,IndiGo,21/02/2022,Tirupati,Ahmedabad,09:20,18:05,1 stop via Hyderabad,"₹ 11,014"
1922,"SpiceJet, IndiGo",21/02/2022,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 11,451"

Lenght :  1923

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1932,IndiGo,22/02/2022,Tirupati,Ahmedabad,17:00,22:15,1 stop via Hyderabad,"₹ 9,308"
1933,SpiceJet,22/02/2022,Tirupati,Ahmedabad,14:25,08:20,1 stop via Pune,"₹ 9,309"
1934,"SpiceJet, IndiGo",22/02/2022,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 9,666"
1935,"SpiceJet, IndiGo",22/02/2022,Tirupati,Ahmedabad,11:00,18:05,1 stop via Hyderabad,"₹ 9,666"
1936,"SpiceJet, IndiGo",22/02/2022,Tirupati,Ahmedabad,08:00,18:05,1 stop via Hyderabad,"₹ 9,666"

Lenght :  1937

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 31
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1947,IndiGo,23/02/2022,Tirupati,Ahmedabad,17:00,22:15,1 stop via Hyderabad,"₹ 9,098"
1948,Air India,23/02/2022,Tirupati,Ahmedabad,14:15,21:30,"2 stop via Hyderabad,New Delhi","₹ 9,207"
1949,"SpiceJet, IndiGo",23/02/2022,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 9,297"
1950,"SpiceJet, IndiGo",23/02/2022,Tirupati,Ahmedabad,11:00,18:05,1 stop via Hyderabad,"₹ 9,297"
1951,"Air India, IndiGo",23/02/2022,Tirupati,Ahmedabad,14:15,22:15,1 stop via Hyderabad,"₹ 9,298"

Lenght :  1952

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-AMD-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 13
Time Count in Scraping  = 26
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 13
pFlightStops Count in Scraping  = 13
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1960,IndiGo,24/02/2022,Tirupati,Ahmedabad,10:55,18:05,1 stop via Hyderabad,"₹ 9,517"
1961,"SpiceJet, IndiGo",24/02/2022,Tirupati,Ahmedabad,11:30,18:05,1 stop via Hyderabad,"₹ 9,666"
1962,"SpiceJet, IndiGo",24/02/2022,Tirupati,Ahmedabad,11:00,18:05,1 stop via Hyderabad,"₹ 9,666"
1963,"SpiceJet, IndiGo",24/02/2022,Tirupati,Ahmedabad,08:00,18:05,1 stop via Hyderabad,"₹ 9,666"
1964,IndiGo,24/02/2022,Tirupati,Ahmedabad,17:00,22:15,1 stop via Hyderabad,"₹ 9,938"

Lenght :  1965

-----Skiped-----

origin = TIR
destin = TIR

origin = TIR
destin = BLR

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 6
Time Count in Scraping  = 12
City Count in Scraping  = 12
spanFlightCost Count in Scraping  = 6
pFlightStops Count in Scraping  = 6
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1966,Air India,18/02/2022,Tirupati,Bengaluru,14:15,22:15,1 stop via Hyderabad,"₹ 7,682"
1967,Air India,18/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 17,709"
1968,Air India,18/02/2022,Tirupati,Bengaluru,14:15,00:30,"2 stop via Hyderabad,New Delhi","₹ 21,909"
1969,Air India,18/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 21,909"
1970,Air India,18/02/2022,Tirupati,Bengaluru,14:15,12:30,"2 stop via Hyderabad,New Delhi","₹ 25,164"

Lenght :  1971

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 1
Time Count in Scraping  = 2
City Count in Scraping  = 2
spanFlightCost Count in Scraping  = 1
pFlightStops Count in Scraping  = 1
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1967,Air India,18/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 17,709"
1968,Air India,18/02/2022,Tirupati,Bengaluru,14:15,00:30,"2 stop via Hyderabad,New Delhi","₹ 21,909"
1969,Air India,18/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 21,909"
1970,Air India,18/02/2022,Tirupati,Bengaluru,14:15,12:30,"2 stop via Hyderabad,New Delhi","₹ 25,164"
1971,Air India,19/02/2022,Tirupati,Bengaluru,14:15,22:15,1 stop via Hyderabad,"₹ 7,314"

Lenght :  1972

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 5
Time Count in Scraping  = 10
City Count in Scraping  = 11
spanFlightCost Count in Scraping  = 5
pFlightStops Count in Scraping  = 5
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1972,IndiGo,20/02/2022,Tirupati,Bengaluru,16:20,17:35,Non stop,"₹ 9,624"
1973,Star Air,20/02/2022,Tirupati,Bengaluru,14:55,17:45,1 stop via Kalaburagi,"₹ 13,318"
1974,Air India,20/02/2022,Tirupati,Bengaluru,14:15,22:15,1 stop via Hyderabad,"₹ 17,762"
1975,Air India,20/02/2022,Tirupati,Bengaluru,14:15,21:45,1 stop via Hyderabad,"₹ 18,812"
1976,Air India,20/02/2022,Tirupati,Bengaluru,14:15,11:10,"2 stop via Hyderabad,Mumbai","₹ 19,494"

Lenght :  1977

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 21
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1982,Air India,21/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 14,454"
1983,Air India,21/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 16,449"
1984,Air India,21/02/2022,Tirupati,Bengaluru,14:15,12:15,"2 stop via Hyderabad,New Delhi","₹ 16,869"
1985,Air India,21/02/2022,Tirupati,Bengaluru,14:15,11:10,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 17,709"
1986,Air India,21/02/2022,Tirupati,Bengaluru,14:15,01:50,"3 stop via Hyderabad,New Delhi,Kolkata","₹ 18,549"

Lenght :  1987

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 22
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
1993,Air India,22/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 16,449"
1994,Air India,22/02/2022,Tirupati,Bengaluru,14:15,12:30,"2 stop via Hyderabad,New Delhi","₹ 16,449"
1995,Air India,22/02/2022,Tirupati,Bengaluru,14:15,11:10,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 17,709"
1996,Air India,22/02/2022,Tirupati,Bengaluru,14:15,01:50,"3 stop via Hyderabad,New Delhi,Kolkata","₹ 18,549"
1997,Air India,22/02/2022,Tirupati,Bengaluru,14:15,17:05,"4 stop via Hyderabad,New Delhi,Surat,Bhubaneswar","₹ 19,508"

Lenght :  1998

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 21
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2003,Air India,23/02/2022,Tirupati,Bengaluru,14:15,00:10,"2 stop via Hyderabad,New Delhi","₹ 14,454"
2004,Air India,23/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 14,454"
2005,Air India,23/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 16,449"
2006,Air India,23/02/2022,Tirupati,Bengaluru,14:15,11:10,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 17,709"
2007,Air India,23/02/2022,Tirupati,Bengaluru,14:15,01:50,"3 stop via Hyderabad,New Delhi,Kolkata","₹ 18,549"

Lenght :  2008

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BLR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2013,Air India,24/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 14,454"
2014,Air India,24/02/2022,Tirupati,Bengaluru,14:15,08:55,"2 stop via Hyderabad,New Delhi","₹ 16,029"
2015,Air India,24/02/2022,Tirupati,Bengaluru,14:15,12:30,"2 stop via Hyderabad,New Delhi","₹ 16,449"
2016,Air India,24/02/2022,Tirupati,Bengaluru,14:15,11:10,"3 stop via Hyderabad,New Delhi,Mumbai","₹ 17,709"
2017,Air India,24/02/2022,Tirupati,Bengaluru,14:15,01:50,"3 stop via Hyderabad,New Delhi,Kolkata","₹ 18,549"

Lenght :  2018

-----Skiped-----

origin = TIR
destin = BOM

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2027,Air India,18/02/2022,Tirupati,Mumbai,14:15,09:05,"2 stop via Hyderabad,New Delhi","₹ 11,559"
2028,"SpiceJet, IndiGo",18/02/2022,Tirupati,Mumbai,08:00,16:35,1 stop via Hyderabad,"₹ 14,076"
2029,"Air India, IndiGo",18/02/2022,Tirupati,Mumbai,14:15,19:15,1 stop via Hyderabad,"₹ 14,077"
2030,"SpiceJet, IndiGo",18/02/2022,Tirupati,Mumbai,11:30,16:35,1 stop via Hyderabad,"₹ 14,182"
2031,"IndiGo, Vistara",18/02/2022,Tirupati,Mumbai,17:00,23:00,1 stop via Hyderabad,"₹ 16,439"

Lenght :  2032

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 24
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2039,"Air India, IndiGo",19/02/2022,Tirupati,Mumbai,14:15,19:15,1 stop via Hyderabad,"₹ 10,560"
2040,IndiGo,19/02/2022,Tirupati,Mumbai,09:20,16:35,1 stop via Hyderabad,"₹ 11,042"
2041,IndiGo,19/02/2022,Tirupati,Mumbai,14:00,19:15,1 stop via Hyderabad,"₹ 11,042"
2042,IndiGo,19/02/2022,Tirupati,Mumbai,10:55,16:35,1 stop via Hyderabad,"₹ 11,669"
2043,"SpiceJet, IndiGo",19/02/2022,Tirupati,Mumbai,11:30,16:35,1 stop via Hyderabad,"₹ 15,441"

Lenght :  2044

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2054,"SpiceJet, IndiGo",20/02/2022,Tirupati,Mumbai,08:00,16:35,1 stop via Hyderabad,"₹ 15,441"
2055,IndiGo,20/02/2022,Tirupati,Mumbai,09:20,16:35,1 stop via Hyderabad,"₹ 16,710"
2056,"SpiceJet, IndiGo",20/02/2022,Tirupati,Mumbai,11:30,16:35,1 stop via Hyderabad,"₹ 18,381"
2057,IndiGo,20/02/2022,Tirupati,Mumbai,14:00,19:15,1 stop via Hyderabad,"₹ 19,125"
2058,"Air India, IndiGo",20/02/2022,Tirupati,Mumbai,14:15,19:15,1 stop via Hyderabad,"₹ 20,272"

Lenght :  2059

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2062,IndiGo,21/02/2022,Tirupati,Mumbai,17:00,23:25,1 stop via Hyderabad,"₹ 6,107"
2063,IndiGo,21/02/2022,Tirupati,Mumbai,16:20,21:35,1 stop via Bengaluru,"₹ 6,947"
2064,IndiGo,21/02/2022,Tirupati,Mumbai,09:20,16:35,1 stop via Hyderabad,"₹ 7,262"
2065,Air India,21/02/2022,Tirupati,Mumbai,14:15,23:55,1 stop via Hyderabad,"₹ 7,314"
2066,Air India,21/02/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"

Lenght :  2067

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2070,IndiGo,22/02/2022,Tirupati,Mumbai,19:55,23:25,1 stop via Hyderabad,"₹ 5,687"
2071,IndiGo,22/02/2022,Tirupati,Mumbai,09:20,16:45,1 stop via Visakhapatnam,"₹ 5,897"
2072,IndiGo,22/02/2022,Tirupati,Mumbai,17:00,23:25,1 stop via Hyderabad,"₹ 6,107"
2073,Air India,22/02/2022,Tirupati,Mumbai,14:15,23:55,1 stop via Hyderabad,"₹ 7,314"
2074,Air India,22/02/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"

Lenght :  2075

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 18
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2078,IndiGo,23/02/2022,Tirupati,Mumbai,17:00,23:25,1 stop via Hyderabad,"₹ 6,107"
2079,IndiGo,23/02/2022,Tirupati,Mumbai,16:20,00:35,1 stop via Bengaluru,"₹ 6,107"
2080,Air India,23/02/2022,Tirupati,Mumbai,14:15,23:55,1 stop via Hyderabad,"₹ 7,314"
2081,IndiGo,23/02/2022,Tirupati,Mumbai,16:20,21:35,1 stop via Bengaluru,"₹ 8,837"
2082,Air India,23/02/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"

Lenght :  2083

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-BOM-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 38
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2097,Air India,24/02/2022,Tirupati,Mumbai,14:15,12:50,"2 stop via Hyderabad,New Delhi","₹ 10,635"
2098,Air India,24/02/2022,Tirupati,Mumbai,14:15,08:35,"2 stop via Hyderabad,Bengaluru","₹ 12,039"
2099,Air India,24/02/2022,Tirupati,Mumbai,14:15,22:10,"2 stop via Hyderabad,New Delhi","₹ 12,984"
2100,Air India,24/02/2022,Tirupati,Mumbai,14:15,16:25,"5 stop via Hyderabad,New Delhi,Nagpur,Raipur,V...","₹ 13,682"
2101,Air India,24/02/2022,Tirupati,Mumbai,14:15,08:35,"3 stop via Hyderabad,New Delhi,Bengaluru","₹ 19,179"

Lenght :  2102

-----Skiped-----

origin = TIR
destin = DEL

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2111,"SpiceJet, IndiGo",18/02/2022,Tirupati,New Delhi,11:30,18:10,1 stop via Hyderabad,"₹ 11,346"
2112,"Air India, IndiGo",18/02/2022,Tirupati,New Delhi,14:15,19:55,1 stop via Hyderabad,"₹ 11,347"
2113,"SpiceJet, IndiGo",18/02/2022,Tirupati,New Delhi,08:00,16:05,1 stop via Hyderabad,"₹ 11,766"
2114,IndiGo,18/02/2022,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 11,777"
2115,IndiGo,18/02/2022,Tirupati,New Delhi,17:00,23:45,1 stop via Hyderabad,"₹ 12,195"

Lenght :  2116

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 28
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2125,"SpiceJet, IndiGo",19/02/2022,Tirupati,New Delhi,08:00,16:05,1 stop via Hyderabad,"₹ 14,076"
2126,"Air India, IndiGo",19/02/2022,Tirupati,New Delhi,14:15,19:55,1 stop via Hyderabad,"₹ 15,652"
2127,IndiGo,19/02/2022,Tirupati,New Delhi,19:55,07:15,1 stop via Hyderabad,"₹ 16,290"
2128,"SpiceJet, IndiGo",19/02/2022,Tirupati,New Delhi,11:30,18:10,1 stop via Hyderabad,"₹ 16,911"
2129,IndiGo,19/02/2022,Tirupati,New Delhi,19:55,01:05,1 stop via Hyderabad,"₹ 17,550"

Lenght :  2130

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 35
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2142,IndiGo,20/02/2022,Tirupati,New Delhi,14:00,23:45,1 stop via Hyderabad,"₹ 19,230"
2143,IndiGo,20/02/2022,Tirupati,New Delhi,14:00,01:05,1 stop via Hyderabad,"₹ 19,230"
2144,IndiGo,20/02/2022,Tirupati,New Delhi,19:55,01:05,1 stop via Hyderabad,"₹ 20,124"
2145,Air India,20/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 28,147"
2146,Air India,20/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 28,410"

Lenght :  2147

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2156,IndiGo,21/02/2022,Tirupati,New Delhi,09:20,16:05,1 stop via Hyderabad,"₹ 10,410"
2157,IndiGo,21/02/2022,Tirupati,New Delhi,17:00,23:45,1 stop via Hyderabad,"₹ 10,515"
2158,IndiGo,21/02/2022,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 13,667"
2159,Air India,21/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 14,287"
2160,Air India,21/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 14,287"

Lenght :  2161

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2170,IndiGo,22/02/2022,Tirupati,New Delhi,09:20,20:55,1 stop via Visakhapatnam,"₹ 9,570"
2171,IndiGo,22/02/2022,Tirupati,New Delhi,19:55,01:05,1 stop via Hyderabad,"₹ 9,570"
2172,IndiGo,22/02/2022,Tirupati,New Delhi,17:00,23:45,1 stop via Hyderabad,"₹ 10,200"
2173,Air India,22/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 15,022"
2174,SpiceJet,22/02/2022,Tirupati,New Delhi,18:55,23:45,1 stop via Hyderabad,"₹ 15,086"

Lenght :  2175

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2185,IndiGo,23/02/2022,Tirupati,New Delhi,17:00,23:45,1 stop via Hyderabad,"₹ 9,990"
2186,SpiceJet,23/02/2022,Tirupati,New Delhi,18:55,23:45,1 stop via Hyderabad,"₹ 10,046"
2187,IndiGo,23/02/2022,Tirupati,New Delhi,16:20,22:10,1 stop via Bengaluru,"₹ 13,037"
2188,Air India,23/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 17,542"
2189,Air India,23/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 17,542"

Lenght :  2190

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=TIR-DEL-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2197,IndiGo,24/02/2022,Tirupati,New Delhi,10:55,16:05,1 stop via Hyderabad,"₹ 9,570"
2198,IndiGo,24/02/2022,Tirupati,New Delhi,09:20,20:55,1 stop via Visakhapatnam,"₹ 9,570"
2199,IndiGo,24/02/2022,Tirupati,New Delhi,19:55,01:05,1 stop via Hyderabad,"₹ 9,570"
2200,IndiGo,24/02/2022,Tirupati,New Delhi,17:00,23:45,1 stop via Hyderabad,"₹ 10,830"
2201,Air India,24/02/2022,Tirupati,New Delhi,14:15,22:55,"2 stop via Hyderabad,Vijayawada","₹ 15,022"

Lenght :  2202

-----Skiped-----

--------------
origin = BLR
destin = GOI

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 34
Time Count in Scraping  = 68
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 34
pFlightStops Count in Scraping  = 34
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2231,AirAsia,18/02/2022,Bengaluru,Goa,14:30,19:35,1 stop via Hyderabad,"₹ 12,633"
2232,AirAsia,18/02/2022,Bengaluru,Goa,16:25,19:35,1 stop via Hyderabad,"₹ 13,169"
2233,"AirAsia, Go First",18/02/2022,Bengaluru,Goa,16:25,21:30,1 stop via Hyderabad,"₹ 14,368"
2234,Air India,18/02/2022,Bengaluru,Goa,06:10,13:30,1 stop via New Delhi,"₹ 14,944"
2235,"Air India, IndiGo",18/02/2022,Bengaluru,Goa,18:50,23:35,1 stop via Hyderabad,"₹ 16,457"

Lenght :  2236

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 28
Time Count in Scraping  = 56
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 28
pFlightStops Count in Scraping  = 28
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2259,Air India,19/02/2022,Bengaluru,Goa,09:00,17:00,1 stop via Mysore,"₹ 9,345"
2260,IndiGo,19/02/2022,Bengaluru,Goa,07:10,13:55,1 stop via Hyderabad,"₹ 9,462"
2261,IndiGo,19/02/2022,Bengaluru,Goa,06:10,13:55,1 stop via Hyderabad,"₹ 9,462"
2262,IndiGo,19/02/2022,Bengaluru,Goa,09:20,13:55,1 stop via Hyderabad,"₹ 10,995"
2263,IndiGo,19/02/2022,Bengaluru,Goa,13:05,17:25,1 stop via Hyderabad,"₹ 10,995"

Lenght :  2264

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 67
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2292,IndiGo,20/02/2022,Bengaluru,Goa,10:10,11:30,Non stop,"₹ 7,173"
2293,IndiGo,20/02/2022,Bengaluru,Goa,13:05,17:25,1 stop via Hyderabad,"₹ 7,929"
2294,IndiGo,20/02/2022,Bengaluru,Goa,13:05,17:25,1 stop via Hyderabad,"₹ 7,929"
2295,IndiGo,20/02/2022,Bengaluru,Goa,20:15,01:35,1 stop via Pune,"₹ 10,612"
2296,IndiGo,20/02/2022,Bengaluru,Goa,09:20,13:55,1 stop via Hyderabad,"₹ 11,378"

Lenght :  2297

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2325,IndiGo,21/02/2022,Bengaluru,Goa,07:10,17:25,1 stop via Hyderabad,"₹ 6,779"
2326,Air India,21/02/2022,Bengaluru,Goa,07:35,17:00,"2 stop via Hyderabad,Mysore","₹ 7,752"
2327,Go First,21/02/2022,Bengaluru,Goa,08:10,16:30,1 stop via Mumbai,"₹ 9,504"
2328,Air India,21/02/2022,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 10,324"
2329,IndiGo,21/02/2022,Bengaluru,Goa,09:20,13:55,1 stop via Hyderabad,"₹ 12,161"

Lenght :  2330

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 65
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2357,IndiGo,22/02/2022,Bengaluru,Goa,19:20,23:35,1 stop via Hyderabad,"₹ 5,630"
2358,AirAsia,22/02/2022,Bengaluru,Goa,07:35,17:25,1 stop via Hyderabad,"₹ 7,593"
2359,Air India,22/02/2022,Bengaluru,Goa,06:45,14:45,1 stop via Mumbai,"₹ 10,639"
2360,IndiGo,22/02/2022,Bengaluru,Goa,09:20,13:55,1 stop via Hyderabad,"₹ 12,161"
2361,IndiGo,22/02/2022,Bengaluru,Goa,13:05,17:25,1 stop via Hyderabad,"₹ 12,161"

Lenght :  2362

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2389,SpiceJet,23/02/2022,Bengaluru,Goa,05:45,07:10,Non stop,"₹ 12,003"
2390,IndiGo,23/02/2022,Bengaluru,Goa,09:20,13:55,1 stop via Hyderabad,"₹ 12,161"
2391,IndiGo,23/02/2022,Bengaluru,Goa,07:10,13:55,1 stop via Hyderabad,"₹ 12,161"
2392,IndiGo,23/02/2022,Bengaluru,Goa,06:10,13:55,1 stop via Hyderabad,"₹ 12,161"
2393,IndiGo,23/02/2022,Bengaluru,Goa,13:05,17:25,1 stop via Hyderabad,"₹ 12,161"

Lenght :  2394

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-GOI-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 61
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2419,IndiGo,24/02/2022,Bengaluru,Goa,06:10,13:55,1 stop via Hyderabad,"₹ 12,161"
2420,IndiGo,24/02/2022,Bengaluru,Goa,13:05,17:25,1 stop via Hyderabad,"₹ 12,161"
2421,IndiGo,24/02/2022,Bengaluru,Goa,19:20,23:35,1 stop via Hyderabad,"₹ 12,161"
2422,IndiGo,24/02/2022,Bengaluru,Goa,20:15,01:35,1 stop via Pune,"₹ 12,161"
2423,IndiGo,24/02/2022,Bengaluru,Goa,17:15,01:35,1 stop via Pune,"₹ 12,161"

Lenght :  2424

-----Skiped-----

origin = BLR
destin = AMD

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 58
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2448,IndiGo,18/02/2022,Bengaluru,Ahmedabad,17:10,01:00,1 stop via Goa,"₹ 13,893"
2449,SpiceJet,18/02/2022,Bengaluru,Ahmedabad,05:45,23:15,1 stop via Goa,"₹ 16,624"
2450,Go First,18/02/2022,Bengaluru,Ahmedabad,15:45,22:15,1 stop via Goa,"₹ 16,625"
2451,IndiGo,18/02/2022,Bengaluru,Ahmedabad,13:05,18:05,1 stop via Hyderabad,"₹ 16,781"
2452,IndiGo,18/02/2022,Bengaluru,Ahmedabad,14:50,20:20,1 stop via Chennai,"₹ 16,781"

Lenght :  2453

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 35
Time Count in Scraping  = 70
City Count in Scraping  = 72
spanFlightCost Count in Scraping  = 35
pFlightStops Count in Scraping  = 35
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2483,IndiGo,19/02/2022,Bengaluru,Ahmedabad,16:20,22:15,1 stop via Hyderabad,"₹ 14,471"
2484,IndiGo,19/02/2022,Bengaluru,Ahmedabad,13:05,18:05,1 stop via Hyderabad,"₹ 14,786"
2485,"AirAsia, IndiGo",19/02/2022,Bengaluru,Ahmedabad,15:50,21:25,1 stop via Mumbai,"₹ 15,085"
2486,Vistara,19/02/2022,Bengaluru,Ahmedabad,17:50,23:00,1 stop via New Delhi,"₹ 15,732"
2487,IndiGo,19/02/2022,Bengaluru,Ahmedabad,16:50,21:25,1 stop via Mumbai,"₹ 17,306"

Lenght :  2488

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2513,Vistara,20/02/2022,Bengaluru,Ahmedabad,17:50,23:00,1 stop via New Delhi,"₹ 14,682"
2514,IndiGo,20/02/2022,Bengaluru,Ahmedabad,14:50,20:20,1 stop via Chennai,"₹ 15,731"
2515,IndiGo,20/02/2022,Bengaluru,Ahmedabad,18:35,20:45,Non stop,"₹ 15,783"
2516,IndiGo,20/02/2022,Bengaluru,Ahmedabad,09:50,16:20,1 stop via Kochi,"₹ 16,466"
2517,IndiGo,20/02/2022,Bengaluru,Ahmedabad,12:40,18:30,1 stop via Mumbai,"₹ 16,781"

Lenght :  2518

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2545,IndiGo,21/02/2022,Bengaluru,Ahmedabad,16:50,21:25,1 stop via Mumbai,"₹ 10,796"
2546,IndiGo,21/02/2022,Bengaluru,Ahmedabad,12:40,18:30,1 stop via Mumbai,"₹ 12,476"
2547,IndiGo,21/02/2022,Bengaluru,Ahmedabad,13:05,18:05,1 stop via Hyderabad,"₹ 12,581"
2548,Go First,21/02/2022,Bengaluru,Ahmedabad,15:45,22:15,1 stop via Goa,"₹ 12,949"
2549,IndiGo,21/02/2022,Bengaluru,Ahmedabad,14:50,20:20,1 stop via Chennai,"₹ 13,211"

Lenght :  2550

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2575,IndiGo,22/02/2022,Bengaluru,Ahmedabad,09:20,18:05,1 stop via Hyderabad,"₹ 10,481"
2576,Vistara,22/02/2022,Bengaluru,Ahmedabad,17:50,23:00,1 stop via New Delhi,"₹ 10,491"
2577,Go First,22/02/2022,Bengaluru,Ahmedabad,15:45,22:15,1 stop via Goa,"₹ 11,321"
2578,IndiGo,22/02/2022,Bengaluru,Ahmedabad,16:50,21:25,1 stop via Mumbai,"₹ 11,951"
2579,IndiGo,22/02/2022,Bengaluru,Ahmedabad,14:50,20:20,1 stop via Chennai,"₹ 12,161"

Lenght :  2580

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 32
Time Count in Scraping  = 64
City Count in Scraping  = 66
spanFlightCost Count in Scraping  = 32
pFlightStops Count in Scraping  = 32
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2607,Go First,23/02/2022,Bengaluru,Ahmedabad,15:45,22:15,1 stop via Goa,"₹ 9,537"
2608,IndiGo,23/02/2022,Bengaluru,Ahmedabad,17:10,01:00,1 stop via Goa,"₹ 10,376"
2609,Vistara,23/02/2022,Bengaluru,Ahmedabad,17:50,23:00,1 stop via New Delhi,"₹ 10,491"
2610,Air India,23/02/2022,Bengaluru,Ahmedabad,13:20,18:50,1 stop via New Delhi,"₹ 10,779"
2611,IndiGo,23/02/2022,Bengaluru,Ahmedabad,12:40,18:30,1 stop via Mumbai,"₹ 11,006"

Lenght :  2612

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-AMD-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2638,Air India,24/02/2022,Bengaluru,Ahmedabad,10:25,18:50,1 stop via New Delhi,"₹ 10,779"
2639,IndiGo,24/02/2022,Bengaluru,Ahmedabad,14:50,20:20,1 stop via Chennai,"₹ 10,901"
2640,IndiGo,24/02/2022,Bengaluru,Ahmedabad,11:20,20:20,1 stop via Chennai,"₹ 11,006"
2641,IndiGo,24/02/2022,Bengaluru,Ahmedabad,16:50,21:25,1 stop via Mumbai,"₹ 11,216"
2642,IndiGo,24/02/2022,Bengaluru,Ahmedabad,19:50,01:00,1 stop via Goa,"₹ 11,426"

Lenght :  2643

-----Skiped-----

origin = BLR
destin = TIR

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 4
Time Count in Scraping  = 8
City Count in Scraping  = 8
spanFlightCost Count in Scraping  = 4
pFlightStops Count in Scraping  = 4
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2642,IndiGo,24/02/2022,Bengaluru,Ahmedabad,19:50,01:00,1 stop via Goa,"₹ 11,426"
2643,IndiGo,18/02/2022,Bengaluru,Tirupati,10:25,11:45,Non stop,"₹ 7,383"
2644,Air India,18/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,944"
2645,Air India,18/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 17,149"
2646,Air India,18/02/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 17,149"

Lenght :  2647

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2650,IndiGo,19/02/2022,Bengaluru,Tirupati,10:25,11:45,Non stop,"₹ 5,808"
2651,Star Air,19/02/2022,Bengaluru,Tirupati,08:40,11:30,1 stop via Kalaburagi,"₹ 6,418"
2652,Air India,19/02/2022,Bengaluru,Tirupati,06:30,13:35,1 stop via Hyderabad,"₹ 7,384"
2653,Air India,19/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
2654,Air India,19/02/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"

Lenght :  2655

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 6
Time Count in Scraping  = 12
City Count in Scraping  = 12
spanFlightCost Count in Scraping  = 6
pFlightStops Count in Scraping  = 6
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2656,Star Air,20/02/2022,Bengaluru,Tirupati,08:40,11:30,1 stop via Kalaburagi,"₹ 7,118"
2657,Air India,20/02/2022,Bengaluru,Tirupati,06:30,13:35,1 stop via Hyderabad,"₹ 7,384"
2658,Air India,20/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
2659,Air India,20/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,519"
2660,Air India,20/02/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,519"

Lenght :  2661

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2664,Air India,21/02/2022,Bengaluru,Tirupati,07:35,13:35,1 stop via Hyderabad,"₹ 7,384"
2665,Air India,21/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
2666,Air India,21/02/2022,Bengaluru,Tirupati,11:50,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,842"
2667,Air India,21/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
2668,Air India,21/02/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"

Lenght :  2669

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 10
Time Count in Scraping  = 20
City Count in Scraping  = 20
spanFlightCost Count in Scraping  = 10
pFlightStops Count in Scraping  = 10
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2674,Star Air,22/02/2022,Bengaluru,Tirupati,08:40,11:30,1 stop via Kalaburagi,"₹ 5,818"
2675,Air India,22/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
2676,Air India,22/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,414"
2677,Air India,22/02/2022,Bengaluru,Tirupati,17:20,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,414"
2678,Air India,22/02/2022,Bengaluru,Tirupati,06:40,13:35,"4 stop via Mysore,Kochi,New Delhi,Hyderabad","₹ 17,989"

Lenght :  2679

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 7
Time Count in Scraping  = 14
City Count in Scraping  = 15
spanFlightCost Count in Scraping  = 7
pFlightStops Count in Scraping  = 7
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2681,Air India,23/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 14,524"
2682,Air India,23/02/2022,Bengaluru,Tirupati,11:50,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,842"
2683,Air India,23/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
2684,Air India,23/02/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
2685,Air India,23/02/2022,Bengaluru,Tirupati,12:50,13:35,"4 stop via Patna,Kolkata,New Delhi,Hyderabad","₹ 17,779"

Lenght :  2686

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-TIR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 8
Time Count in Scraping  = 16
City Count in Scraping  = 16
spanFlightCost Count in Scraping  = 8
pFlightStops Count in Scraping  = 8
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2689,IndiGo,24/02/2022,Bengaluru,Tirupati,10:25,11:45,Non stop,"₹ 4,863"
2690,Star Air,24/02/2022,Bengaluru,Tirupati,08:40,11:30,1 stop via Kalaburagi,"₹ 5,118"
2691,Star Air,24/02/2022,Bengaluru,Tirupati,08:40,11:30,1 stop via Kalaburagi,"₹ 6,318"
2692,Air India,24/02/2022,Bengaluru,Tirupati,21:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"
2693,Air India,24/02/2022,Bengaluru,Tirupati,17:50,13:35,"2 stop via New Delhi,Hyderabad","₹ 16,099"

Lenght :  2694

-----Skiped-----

origin = BLR
destin = BLR

origin = BLR
destin = BOM

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 40
Time Count in Scraping  = 80
City Count in Scraping  = 81
spanFlightCost Count in Scraping  = 40
pFlightStops Count in Scraping  = 40
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2729,IndiGo,18/02/2022,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 14,313"
2730,IndiGo,18/02/2022,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 14,313"
2731,Vistara,18/02/2022,Bengaluru,Mumbai,18:25,20:15,Non stop,"₹ 17,478"
2732,Vistara,18/02/2022,Bengaluru,Mumbai,19:00,20:45,Non stop,"₹ 17,478"
2733,SpiceJet,18/02/2022,Bengaluru,Mumbai,05:45,14:45,1 stop via Goa,"₹ 18,724"

Lenght :  2734

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 101
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2779,IndiGo,19/02/2022,Bengaluru,Mumbai,09:50,15:40,1 stop via Kochi,"₹ 12,486"
2780,IndiGo,19/02/2022,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 13,368"
2781,IndiGo,19/02/2022,Bengaluru,Mumbai,07:20,11:35,1 stop via Mangalore,"₹ 13,946"
2782,IndiGo,19/02/2022,Bengaluru,Mumbai,12:40,14:30,Non stop,"₹ 14,313"
2783,Vistara,19/02/2022,Bengaluru,Mumbai,19:00,20:45,Non stop,"₹ 17,478"

Lenght :  2784

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 102
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2829,IndiGo,20/02/2022,Bengaluru,Mumbai,07:20,11:35,1 stop via Mangalore,"₹ 11,951"
2830,IndiGo,20/02/2022,Bengaluru,Mumbai,07:10,12:15,1 stop via Hyderabad,"₹ 12,029"
2831,IndiGo,20/02/2022,Bengaluru,Mumbai,16:20,20:45,1 stop via Hyderabad,"₹ 12,029"
2832,IndiGo,20/02/2022,Bengaluru,Mumbai,19:20,23:25,1 stop via Hyderabad,"₹ 12,029"
2833,SpiceJet,20/02/2022,Bengaluru,Mumbai,05:45,14:20,1 stop via Goa,"₹ 13,474"

Lenght :  2834

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 53
Time Count in Scraping  = 106
City Count in Scraping  = 107
spanFlightCost Count in Scraping  = 53
pFlightStops Count in Scraping  = 53
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2882,Air India,21/02/2022,Bengaluru,Mumbai,18:25,00:10,1 stop via Goa,"₹ 8,014"
2883,Vistara,21/02/2022,Bengaluru,Mumbai,19:55,23:00,1 stop via Hyderabad,"₹ 8,224"
2884,Air India,21/02/2022,Bengaluru,Mumbai,18:50,23:55,1 stop via Hyderabad,"₹ 8,224"
2885,IndiGo,21/02/2022,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 9,746"
2886,SpiceJet,21/02/2022,Bengaluru,Mumbai,05:45,14:45,1 stop via Goa,"₹ 13,474"

Lenght :  2887

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 99
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2931,IndiGo,22/02/2022,Bengaluru,Mumbai,12:40,14:30,Non stop,"₹ 6,333"
2932,IndiGo,22/02/2022,Bengaluru,Mumbai,21:15,23:15,Non stop,"₹ 6,543"
2933,IndiGo,22/02/2022,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 7,593"
2934,IndiGo,22/02/2022,Bengaluru,Mumbai,07:20,11:35,1 stop via Mangalore,"₹ 7,919"
2935,Vistara,22/02/2022,Bengaluru,Mumbai,19:55,23:00,1 stop via Hyderabad,"₹ 8,224"

Lenght :  2936

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 51
Time Count in Scraping  = 102
City Count in Scraping  = 103
spanFlightCost Count in Scraping  = 51
pFlightStops Count in Scraping  = 51
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
2982,IndiGo,23/02/2022,Bengaluru,Mumbai,12:40,14:30,Non stop,"₹ 6,123"
2983,IndiGo,23/02/2022,Bengaluru,Mumbai,09:40,14:45,1 stop via Mangalore,"₹ 7,005"
2984,IndiGo,23/02/2022,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 8,013"
2985,Vistara,23/02/2022,Bengaluru,Mumbai,19:55,23:00,1 stop via Hyderabad,"₹ 8,224"
2986,SpiceJet,23/02/2022,Bengaluru,Mumbai,05:45,14:45,1 stop via Goa,"₹ 17,464"

Lenght :  2987

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-BOM-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 102
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3032,IndiGo,24/02/2022,Bengaluru,Mumbai,16:50,18:35,Non stop,"₹ 6,333"
3033,IndiGo,24/02/2022,Bengaluru,Mumbai,19:50,00:40,1 stop via Goa,"₹ 7,005"
3034,IndiGo,24/02/2022,Bengaluru,Mumbai,19:50,00:40,1 stop via Goa,"₹ 7,005"
3035,IndiGo,24/02/2022,Bengaluru,Mumbai,10:55,15:05,1 stop via Chennai,"₹ 7,919"
3036,Vistara,24/02/2022,Bengaluru,Mumbai,19:55,23:00,1 stop via Hyderabad,"₹ 8,224"

Lenght :  3037

-----Skiped-----

origin = BLR
destin = DEL

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 109
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3086,IndiGo,18/02/2022,Bengaluru,New Delhi,14:45,19:55,1 stop via Hyderabad,"₹ 14,786"
3087,"AirAsia, Vistara",18/02/2022,Bengaluru,New Delhi,16:25,22:50,1 stop via Hyderabad,"₹ 14,988"
3088,AirAsia,18/02/2022,Bengaluru,New Delhi,00:25,03:20,Non stop,"₹ 19,561"
3089,AirAsia,18/02/2022,Bengaluru,New Delhi,11:20,14:05,Non stop,"₹ 20,402"
3090,SpiceJet,18/02/2022,Bengaluru,New Delhi,21:55,00:35,Non stop,"₹ 20,403"

Lenght :  3091

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 61
Time Count in Scraping  = 122
City Count in Scraping  = 124
spanFlightCost Count in Scraping  = 61
pFlightStops Count in Scraping  = 61
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3147,"Star Air, Vistara",19/02/2022,Bengaluru,New Delhi,07:05,12:40,1 stop via Hyderabad,"₹ 14,986"
3148,"Air India, Vistara",19/02/2022,Bengaluru,New Delhi,06:30,12:40,1 stop via Hyderabad,"₹ 14,988"
3149,Vistara,19/02/2022,Bengaluru,New Delhi,07:55,12:40,1 stop via Hyderabad,"₹ 15,154"
3150,IndiGo,19/02/2022,Bengaluru,New Delhi,20:15,01:05,1 stop via Hyderabad,"₹ 15,888"
3151,AirAsia,19/02/2022,Bengaluru,New Delhi,06:10,08:55,Non stop,"₹ 20,402"

Lenght :  3152

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 62
Time Count in Scraping  = 124
City Count in Scraping  = 125
spanFlightCost Count in Scraping  = 62
pFlightStops Count in Scraping  = 62
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3209,Air India,20/02/2022,Bengaluru,New Delhi,13:20,15:55,Non stop,"₹ 14,944"
3210,IndiGo,20/02/2022,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 15,101"
3211,IndiGo,20/02/2022,Bengaluru,New Delhi,13:05,18:10,1 stop via Hyderabad,"₹ 15,101"
3212,IndiGo,20/02/2022,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 15,363"
3213,Vistara,20/02/2022,Bengaluru,New Delhi,07:55,12:40,1 stop via Hyderabad,"₹ 15,469"

Lenght :  3214

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 64
Time Count in Scraping  = 128
City Count in Scraping  = 129
spanFlightCost Count in Scraping  = 64
pFlightStops Count in Scraping  = 64
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3273,Vistara,21/02/2022,Bengaluru,New Delhi,06:40,12:40,1 stop via Mumbai,"₹ 10,849"
3274,Vistara,21/02/2022,Bengaluru,New Delhi,09:30,14:30,1 stop via Mumbai,"₹ 10,849"
3275,IndiGo,21/02/2022,Bengaluru,New Delhi,07:10,11:55,1 stop via Hyderabad,"₹ 11,163"
3276,IndiGo,21/02/2022,Bengaluru,New Delhi,15:20,20:25,1 stop via Jaipur,"₹ 11,163"
3277,Vistara,21/02/2022,Bengaluru,New Delhi,07:55,12:40,1 stop via Hyderabad,"₹ 11,479"

Lenght :  3278

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 60
Time Count in Scraping  = 120
City Count in Scraping  = 122
spanFlightCost Count in Scraping  = 60
pFlightStops Count in Scraping  = 60
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3333,Vistara,22/02/2022,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 10,744"
3334,Vistara,22/02/2022,Bengaluru,New Delhi,19:00,00:10,1 stop via Mumbai,"₹ 10,744"
3335,Vistara,22/02/2022,Bengaluru,New Delhi,19:55,00:55,1 stop via Mumbai,"₹ 10,744"
3336,Vistara,22/02/2022,Bengaluru,New Delhi,09:30,14:30,1 stop via Mumbai,"₹ 10,849"
3337,Go First,22/02/2022,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 11,680"

Lenght :  3338

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 67
Time Count in Scraping  = 134
City Count in Scraping  = 136
spanFlightCost Count in Scraping  = 67
pFlightStops Count in Scraping  = 67
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3400,Vistara,23/02/2022,Bengaluru,New Delhi,18:25,23:00,1 stop via Mumbai,"₹ 10,744"
3401,Vistara,23/02/2022,Bengaluru,New Delhi,19:00,00:10,1 stop via Mumbai,"₹ 10,744"
3402,Vistara,23/02/2022,Bengaluru,New Delhi,19:55,00:55,1 stop via Mumbai,"₹ 10,744"
3403,IndiGo,23/02/2022,Bengaluru,New Delhi,11:20,16:30,1 stop via Pune,"₹ 10,848"
3404,Go First,23/02/2022,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 11,680"

Lenght :  3405

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BLR-DEL-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 65
Time Count in Scraping  = 130
City Count in Scraping  = 132
spanFlightCost Count in Scraping  = 65
pFlightStops Count in Scraping  = 65
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3465,Vistara,24/02/2022,Bengaluru,New Delhi,19:00,00:10,1 stop via Mumbai,"₹ 10,744"
3466,Vistara,24/02/2022,Bengaluru,New Delhi,19:55,00:55,1 stop via Mumbai,"₹ 10,744"
3467,IndiGo,24/02/2022,Bengaluru,New Delhi,11:20,16:30,1 stop via Pune,"₹ 10,848"
3468,Vistara,24/02/2022,Bengaluru,New Delhi,09:30,14:30,1 stop via Mumbai,"₹ 11,059"
3469,Go First,24/02/2022,Bengaluru,New Delhi,15:45,20:20,1 stop via Goa,"₹ 30,284"

Lenght :  3470

-----Skiped-----

--------------
origin = BOM
destin = GOI

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 27
Time Count in Scraping  = 54
City Count in Scraping  = 54
spanFlightCost Count in Scraping  = 27
pFlightStops Count in Scraping  = 27
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3492,Vistara,18/02/2022,Mumbai,Goa,05:30,14:05,1 stop via Bengaluru,"₹ 16,758"
3493,Vistara,18/02/2022,Mumbai,Goa,09:05,14:05,1 stop via Bengaluru,"₹ 17,546"
3494,Vistara,18/02/2022,Mumbai,Goa,07:00,14:05,1 stop via Bengaluru,"₹ 17,546"
3495,Vistara,18/02/2022,Mumbai,Goa,06:30,13:50,1 stop via New Delhi,"₹ 18,858"
3496,Vistara,18/02/2022,Mumbai,Goa,07:30,13:50,1 stop via New Delhi,"₹ 18,963"

Lenght :  3497

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 34
Time Count in Scraping  = 68
City Count in Scraping  = 70
spanFlightCost Count in Scraping  = 34
pFlightStops Count in Scraping  = 34
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3526,Vistara,19/02/2022,Mumbai,Goa,06:00,14:05,1 stop via Bengaluru,"₹ 12,821"
3527,AirAsia,19/02/2022,Mumbai,Goa,07:20,14:55,1 stop via New Delhi,"₹ 12,847"
3528,Go First,19/02/2022,Mumbai,Goa,05:20,20:10,1 stop via Ahmedabad,"₹ 13,058"
3529,Vistara,19/02/2022,Mumbai,Goa,09:05,14:05,1 stop via Bengaluru,"₹ 14,133"
3530,Air India,19/02/2022,Mumbai,Goa,09:30,20:30,1 stop via Bengaluru,"₹ 14,973"

Lenght :  3531

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 41
Time Count in Scraping  = 82
City Count in Scraping  = 83
spanFlightCost Count in Scraping  = 41
pFlightStops Count in Scraping  = 41
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3567,Vistara,20/02/2022,Mumbai,Goa,10:25,21:20,1 stop via New Delhi,"₹ 13,188"
3568,Vistara,20/02/2022,Mumbai,Goa,11:55,21:20,1 stop via New Delhi,"₹ 14,133"
3569,Vistara,20/02/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 15,183"
3570,Vistara,20/02/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 15,918"
3571,Vistara,20/02/2022,Mumbai,Goa,07:30,13:50,1 stop via New Delhi,"₹ 17,598"

Lenght :  3572

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 42
Time Count in Scraping  = 84
City Count in Scraping  = 86
spanFlightCost Count in Scraping  = 42
pFlightStops Count in Scraping  = 42
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3609,Air India,21/02/2022,Mumbai,Goa,08:00,19:55,"2 stop via New Delhi,Bengaluru","₹ 13,086"
3610,Air India,21/02/2022,Mumbai,Goa,07:00,19:55,"2 stop via New Delhi,Bengaluru","₹ 13,086"
3611,Go First,21/02/2022,Mumbai,Goa,13:30,23:10,1 stop via New Delhi,"₹ 13,424"
3612,Go First,21/02/2022,Mumbai,Goa,06:00,13:30,1 stop via New Delhi,"₹ 13,530"
3613,Vistara,21/02/2022,Mumbai,Goa,06:00,14:05,"2 stop via New Delhi,Bengaluru","₹ 18,274"

Lenght :  3614

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 39
Time Count in Scraping  = 78
City Count in Scraping  = 79
spanFlightCost Count in Scraping  = 39
pFlightStops Count in Scraping  = 39
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3648,Vistara,22/02/2022,Mumbai,Goa,06:00,14:05,"2 stop via New Delhi,Bengaluru","₹ 16,148"
3649,Go First,22/02/2022,Mumbai,Goa,06:00,13:30,1 stop via New Delhi,"₹ 17,678"
3650,Air India,22/02/2022,Mumbai,Goa,07:00,13:25,1 stop via New Delhi,"₹ 18,123"
3651,Vistara,22/02/2022,Mumbai,Goa,07:30,13:50,1 stop via New Delhi,"₹ 20,433"
3652,Vistara,22/02/2022,Mumbai,Goa,06:30,13:50,1 stop via New Delhi,"₹ 20,433"

Lenght :  3653

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 43
Time Count in Scraping  = 86
City Count in Scraping  = 87
spanFlightCost Count in Scraping  = 43
pFlightStops Count in Scraping  = 43
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3691,Air India,23/02/2022,Mumbai,Goa,10:00,20:30,"2 stop via New Delhi,Bengaluru","₹ 13,086"
3692,Air India,23/02/2022,Mumbai,Goa,08:00,20:30,"2 stop via New Delhi,Bengaluru","₹ 13,086"
3693,Air India,23/02/2022,Mumbai,Goa,07:05,20:30,"3 stop via Indore,New Delhi,Bengaluru","₹ 13,086"
3694,Air India,23/02/2022,Mumbai,Goa,07:00,20:30,"2 stop via New Delhi,Bengaluru","₹ 13,086"
3695,Air India,23/02/2022,Mumbai,Goa,10:00,19:55,"2 stop via New Delhi,Bengaluru","₹ 14,924"

Lenght :  3696

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-GOI-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 36
Time Count in Scraping  = 72
City Count in Scraping  = 74
spanFlightCost Count in Scraping  = 36
pFlightStops Count in Scraping  = 36
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3727,Go First,24/02/2022,Mumbai,Goa,06:05,17:10,1 stop via Bengaluru,"₹ 17,127"
3728,Vistara,24/02/2022,Mumbai,Goa,14:40,21:20,1 stop via New Delhi,"₹ 18,858"
3729,Vistara,24/02/2022,Mumbai,Goa,12:25,21:20,1 stop via New Delhi,"₹ 18,858"
3730,Vistara,24/02/2022,Mumbai,Goa,11:55,21:20,1 stop via New Delhi,"₹ 18,858"
3731,Vistara,24/02/2022,Mumbai,Goa,11:25,12:45,Non stop,"₹ 21,658"

Lenght :  3732

-----Skiped-----

origin = BOM
destin = AMD

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 24
Time Count in Scraping  = 48
City Count in Scraping  = 48
spanFlightCost Count in Scraping  = 24
pFlightStops Count in Scraping  = 24
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3751,Air India,18/02/2022,Mumbai,Ahmedabad,18:35,19:55,Non stop,"₹ 11,928"
3752,IndiGo,18/02/2022,Mumbai,Ahmedabad,15:05,21:30,1 stop via Indore,"₹ 11,928"
3753,Vistara,18/02/2022,Mumbai,Ahmedabad,15:45,23:00,1 stop via New Delhi,"₹ 12,348"
3754,Vistara,18/02/2022,Mumbai,Ahmedabad,17:35,23:00,1 stop via New Delhi,"₹ 12,663"
3755,Vistara,18/02/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 14,816"

Lenght :  3756

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3781,Vistara,19/02/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 13,661"
3782,Vistara,19/02/2022,Mumbai,Ahmedabad,15:45,23:00,1 stop via New Delhi,"₹ 13,819"
3783,Go First,19/02/2022,Mumbai,Ahmedabad,15:20,22:15,1 stop via Goa,"₹ 13,924"
3784,Air India,19/02/2022,Mumbai,Ahmedabad,16:00,21:30,1 stop via New Delhi,"₹ 16,023"
3785,Star Air,19/02/2022,Mumbai,Ahmedabad,14:00,19:05,1 stop via Belgaum,"₹ 23,226"

Lenght :  3786

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3811,Air India,20/02/2022,Mumbai,Ahmedabad,10:00,21:30,1 stop via New Delhi,"₹ 12,978"
3812,Vistara,20/02/2022,Mumbai,Ahmedabad,17:35,23:00,1 stop via New Delhi,"₹ 14,186"
3813,Vistara,20/02/2022,Mumbai,Ahmedabad,15:45,23:00,1 stop via New Delhi,"₹ 14,711"
3814,Go First,20/02/2022,Mumbai,Ahmedabad,09:55,18:20,1 stop via New Delhi,"₹ 15,103"
3815,Vistara,20/02/2022,Mumbai,Ahmedabad,14:40,23:00,1 stop via New Delhi,"₹ 15,236"

Lenght :  3816

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 29
Time Count in Scraping  = 58
City Count in Scraping  = 60
spanFlightCost Count in Scraping  = 29
pFlightStops Count in Scraping  = 29
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3840,Go First,21/02/2022,Mumbai,Ahmedabad,09:55,18:20,1 stop via New Delhi,"₹ 11,114"
3841,IndiGo,21/02/2022,Mumbai,Ahmedabad,06:35,07:50,Non stop,"₹ 11,928"
3842,Vistara,21/02/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 12,611"
3843,Go First,21/02/2022,Mumbai,Ahmedabad,16:20,22:15,1 stop via Goa,"₹ 12,874"
3844,Go First,21/02/2022,Mumbai,Ahmedabad,15:20,22:15,1 stop via Goa,"₹ 12,874"

Lenght :  3845

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 30
Time Count in Scraping  = 60
City Count in Scraping  = 62
spanFlightCost Count in Scraping  = 30
pFlightStops Count in Scraping  = 30
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3870,Vistara,22/02/2022,Mumbai,Ahmedabad,20:55,07:50,1 stop via New Delhi,"₹ 10,668"
3871,Vistara,22/02/2022,Mumbai,Ahmedabad,12:25,23:00,1 stop via New Delhi,"₹ 10,773"
3872,Go First,22/02/2022,Mumbai,Ahmedabad,16:20,22:15,1 stop via Goa,"₹ 11,561"
3873,Go First,22/02/2022,Mumbai,Ahmedabad,15:20,22:15,1 stop via Goa,"₹ 11,561"
3874,Vistara,22/02/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 13,136"

Lenght :  3875

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 33
Time Count in Scraping  = 66
City Count in Scraping  = 68
spanFlightCost Count in Scraping  = 33
pFlightStops Count in Scraping  = 33
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3903,Vistara,23/02/2022,Mumbai,Ahmedabad,12:25,23:00,1 stop via New Delhi,"₹ 10,668"
3904,Vistara,23/02/2022,Mumbai,Ahmedabad,22:45,07:50,1 stop via New Delhi,"₹ 10,668"
3905,Vistara,23/02/2022,Mumbai,Ahmedabad,21:55,07:50,1 stop via New Delhi,"₹ 10,668"
3906,Air India,23/02/2022,Mumbai,Ahmedabad,21:30,07:50,1 stop via New Delhi,"₹ 10,668"
3907,Vistara,23/02/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 12,611"

Lenght :  3908

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-AMD-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 31
Time Count in Scraping  = 62
City Count in Scraping  = 64
spanFlightCost Count in Scraping  = 31
pFlightStops Count in Scraping  = 31
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3934,Vistara,24/02/2022,Mumbai,Ahmedabad,20:55,07:50,1 stop via New Delhi,"₹ 10,773"
3935,Go First,24/02/2022,Mumbai,Ahmedabad,09:55,18:20,1 stop via New Delhi,"₹ 11,114"
3936,Go First,24/02/2022,Mumbai,Ahmedabad,08:00,18:20,1 stop via New Delhi,"₹ 11,114"
3937,Vistara,24/02/2022,Mumbai,Ahmedabad,14:40,20:05,1 stop via New Delhi,"₹ 12,611"
3938,Vistara,24/02/2022,Mumbai,Ahmedabad,12:25,20:05,1 stop via New Delhi,"₹ 12,611"

Lenght :  3939

-----Skiped-----

origin = BOM
destin = TIR

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 17
Time Count in Scraping  = 34
City Count in Scraping  = 34
spanFlightCost Count in Scraping  = 17
pFlightStops Count in Scraping  = 17
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3951,"Vistara, IndiGo",18/02/2022,Mumbai,Tirupati,07:30,16:40,"2 stop via New Delhi,Hyderabad","₹ 19,866"
3952,"Vistara, IndiGo",18/02/2022,Mumbai,Tirupati,06:30,16:40,"2 stop via New Delhi,Hyderabad","₹ 19,866"
3953,"Vistara, IndiGo",18/02/2022,Mumbai,Tirupati,06:00,16:40,"2 stop via New Delhi,Hyderabad","₹ 19,866"
3954,IndiGo,18/02/2022,Mumbai,Tirupati,10:45,16:40,1 stop via Hyderabad,"₹ 20,958"
3955,Air India,18/02/2022,Mumbai,Tirupati,18:35,13:35,"3 stop via Ahmedabad,New Delhi,Hyderabad","₹ 23,177"

Lenght :  3956

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 40
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3971,"Air India, IndiGo",19/02/2022,Mumbai,Tirupati,05:20,13:30,"2 stop via Chennai,Hyderabad","₹ 17,850"
3972,"Vistara, IndiGo",19/02/2022,Mumbai,Tirupati,07:30,16:40,"2 stop via New Delhi,Hyderabad","₹ 19,151"
3973,IndiGo,19/02/2022,Mumbai,Tirupati,10:45,16:40,1 stop via Hyderabad,"₹ 19,224"
3974,Air India,19/02/2022,Mumbai,Tirupati,12:00,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 21,381"
3975,Air India,19/02/2022,Mumbai,Tirupati,18:35,13:35,"3 stop via Ahmedabad,New Delhi,Hyderabad","₹ 25,158"

Lenght :  3976

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 15
Time Count in Scraping  = 30
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 15
pFlightStops Count in Scraping  = 15
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
3986,Air India,20/02/2022,Mumbai,Tirupati,18:00,13:35,"2 stop via New Delhi,Hyderabad","₹ 10,629"
3987,Air India,20/02/2022,Mumbai,Tirupati,05:20,13:35,"2 stop via Chennai,Hyderabad","₹ 12,873"
3988,Air India,20/02/2022,Mumbai,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,978"
3989,Air India,20/02/2022,Mumbai,Tirupati,16:45,13:35,"3 stop via Bengaluru,New Delhi,Hyderabad","₹ 23,268"
3990,Air India,20/02/2022,Mumbai,Tirupati,12:00,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 25,382"

Lenght :  3991

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 19
Time Count in Scraping  = 38
City Count in Scraping  = 39
spanFlightCost Count in Scraping  = 19
pFlightStops Count in Scraping  = 19
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4005,Air India,21/02/2022,Mumbai,Tirupati,16:45,13:35,"2 stop via Bengaluru,Hyderabad","₹ 12,033"
4006,Air India,21/02/2022,Mumbai,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,978"
4007,Air India,21/02/2022,Mumbai,Tirupati,12:00,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,766"
4008,Air India,21/02/2022,Mumbai,Tirupati,16:45,13:35,"3 stop via Bengaluru,New Delhi,Hyderabad","₹ 19,173"
4009,Air India,21/02/2022,Mumbai,Tirupati,16:45,13:35,"3 stop via Bengaluru,New Delhi,Hyderabad","₹ 19,173"

Lenght :  4010

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 30
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4019,Air India,22/02/2022,Mumbai,Tirupati,05:20,13:35,"2 stop via Chennai,Hyderabad","₹ 12,873"
4020,Air India,22/02/2022,Mumbai,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,978"
4021,Air India,22/02/2022,Mumbai,Tirupati,12:00,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,766"
4022,Air India,22/02/2022,Mumbai,Tirupati,16:45,13:35,"3 stop via Bengaluru,New Delhi,Hyderabad","₹ 19,173"
4023,Air India,22/02/2022,Mumbai,Tirupati,09:30,13:35,"3 stop via Bengaluru,New Delhi,Hyderabad","₹ 19,173"

Lenght :  4024

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 18
Time Count in Scraping  = 36
City Count in Scraping  = 37
spanFlightCost Count in Scraping  = 18
pFlightStops Count in Scraping  = 18
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4037,Air India,23/02/2022,Mumbai,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,978"
4038,Air India,23/02/2022,Mumbai,Tirupati,05:20,13:35,"2 stop via Chennai,Hyderabad","₹ 13,188"
4039,Air India,23/02/2022,Mumbai,Tirupati,12:00,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,766"
4040,Air India,23/02/2022,Mumbai,Tirupati,18:35,13:35,"3 stop via Ahmedabad,New Delhi,Hyderabad","₹ 16,982"
4041,Air India,23/02/2022,Mumbai,Tirupati,16:45,13:35,"3 stop via Bengaluru,New Delhi,Hyderabad","₹ 19,173"

Lenght :  4042

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-TIR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4051,Air India,24/02/2022,Mumbai,Tirupati,21:30,13:35,"2 stop via New Delhi,Hyderabad","₹ 12,978"
4052,Air India,24/02/2022,Mumbai,Tirupati,12:00,13:35,"3 stop via Bhubaneswar,New Delhi,Hyderabad","₹ 14,766"
4053,Air India,24/02/2022,Mumbai,Tirupati,05:20,13:35,"2 stop via Chennai,Hyderabad","₹ 17,336"
4054,Air India,24/02/2022,Mumbai,Tirupati,09:30,13:35,"3 stop via Bengaluru,New Delhi,Hyderabad","₹ 19,173"
4055,Air India,24/02/2022,Mumbai,Tirupati,09:00,13:35,"3 stop via Chennai,New Delhi,Hyderabad","₹ 23,058"

Lenght :  4056

-----Skiped-----

origin = BOM
destin = BLR

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 44
Time Count in Scraping  = 88
City Count in Scraping  = 88
spanFlightCost Count in Scraping  = 44
pFlightStops Count in Scraping  = 44
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4095,Vistara,18/02/2022,Mumbai,Bengaluru,11:55,18:50,1 stop via New Delhi,"₹ 11,307"
4096,Vistara,18/02/2022,Mumbai,Bengaluru,06:00,11:50,1 stop via New Delhi,"₹ 11,843"
4097,IndiGo,18/02/2022,Mumbai,Bengaluru,12:45,18:30,1 stop via Hyderabad,"₹ 12,411"
4098,AirAsia,18/02/2022,Mumbai,Bengaluru,04:45,08:40,1 stop via Goa,"₹ 13,766"
4099,Vistara,18/02/2022,Mumbai,Bengaluru,21:00,22:50,Non stop,"₹ 17,402"

Lenght :  4100

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 51
Time Count in Scraping  = 102
City Count in Scraping  = 103
spanFlightCost Count in Scraping  = 51
pFlightStops Count in Scraping  = 51
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4146,IndiGo,19/02/2022,Mumbai,Bengaluru,13:45,19:00,1 stop via Vadodara,"₹ 12,411"
4147,IndiGo,19/02/2022,Mumbai,Bengaluru,12:45,18:30,1 stop via Hyderabad,"₹ 12,868"
4148,Vistara,19/02/2022,Mumbai,Bengaluru,06:00,11:50,1 stop via New Delhi,"₹ 13,182"
4149,Vistara,19/02/2022,Mumbai,Bengaluru,10:25,16:00,1 stop via Goa,"₹ 13,871"
4150,Go First,19/02/2022,Mumbai,Bengaluru,19:15,23:40,1 stop via Ahmedabad,"₹ 14,579"

Lenght :  4151

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 52
Time Count in Scraping  = 104
City Count in Scraping  = 106
spanFlightCost Count in Scraping  = 52
pFlightStops Count in Scraping  = 52
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4198,IndiGo,20/02/2022,Mumbai,Bengaluru,16:20,20:45,1 stop via Hyderabad,"₹ 12,411"
4199,IndiGo,20/02/2022,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 13,325"
4200,Go First,20/02/2022,Mumbai,Bengaluru,05:20,10:00,1 stop via Ahmedabad,"₹ 14,054"
4201,SpiceJet,20/02/2022,Mumbai,Bengaluru,23:45,09:00,1 stop via Goa,"₹ 15,709"
4202,Vistara,20/02/2022,Mumbai,Bengaluru,17:30,19:15,Non stop,"₹ 17,402"

Lenght :  4203

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 110
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4252,IndiGo,21/02/2022,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 8,757"
4253,IndiGo,21/02/2022,Mumbai,Bengaluru,16:25,22:00,1 stop via Chennai,"₹ 8,757"
4254,AirAsia,21/02/2022,Mumbai,Bengaluru,04:45,08:40,1 stop via Goa,"₹ 9,779"
4255,Air India,21/02/2022,Mumbai,Bengaluru,18:30,22:30,1 stop via Goa,"₹ 9,986"
4256,Vistara,21/02/2022,Mumbai,Bengaluru,07:00,08:50,Non stop,"₹ 17,402"

Lenght :  4257

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 110
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4306,IndiGo,22/02/2022,Mumbai,Bengaluru,10:45,18:30,1 stop via Hyderabad,"₹ 6,930"
4307,IndiGo,22/02/2022,Mumbai,Bengaluru,10:45,18:30,1 stop via Hyderabad,"₹ 6,930"
4308,IndiGo,22/02/2022,Mumbai,Bengaluru,04:35,10:05,1 stop via Chennai,"₹ 7,387"
4309,IndiGo,22/02/2022,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 7,844"
4310,Air India,22/02/2022,Mumbai,Bengaluru,18:30,22:30,1 stop via Goa,"₹ 8,463"

Lenght :  4311

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 109
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4360,IndiGo,23/02/2022,Mumbai,Bengaluru,16:20,20:45,1 stop via Hyderabad,"₹ 6,017"
4361,IndiGo,23/02/2022,Mumbai,Bengaluru,18:45,22:50,1 stop via Hyderabad,"₹ 6,017"
4362,IndiGo,23/02/2022,Mumbai,Bengaluru,17:10,22:50,1 stop via Hyderabad,"₹ 6,017"
4363,IndiGo,23/02/2022,Mumbai,Bengaluru,10:30,15:40,1 stop via Chennai,"₹ 6,473"
4364,IndiGo,23/02/2022,Mumbai,Bengaluru,18:45,22:30,1 stop via Mangalore,"₹ 6,473"

Lenght :  4365

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-BLR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 54
Time Count in Scraping  = 108
City Count in Scraping  = 109
spanFlightCost Count in Scraping  = 54
pFlightStops Count in Scraping  = 54
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4414,IndiGo,24/02/2022,Mumbai,Bengaluru,14:20,16:05,Non stop,"₹ 7,098"
4415,IndiGo,24/02/2022,Mumbai,Bengaluru,16:25,22:00,1 stop via Chennai,"₹ 7,844"
4416,AirAsia,24/02/2022,Mumbai,Bengaluru,04:45,08:40,1 stop via Goa,"₹ 8,148"
4417,IndiGo,24/02/2022,Mumbai,Bengaluru,06:55,08:30,Non stop,"₹ 9,828"
4418,SpiceJet,24/02/2022,Mumbai,Bengaluru,11:35,09:00,1 stop via Goa,"₹ 15,709"

Lenght :  4419

-----Skiped-----

origin = BOM
destin = BOM

origin = BOM
destin = DEL

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 65
Time Count in Scraping  = 130
City Count in Scraping  = 130
spanFlightCost Count in Scraping  = 65
pFlightStops Count in Scraping  = 65
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4479,IndiGo,18/02/2022,Mumbai,New Delhi,20:30,22:35,Non stop,"₹ 15,183"
4480,SpiceJet,18/02/2022,Mumbai,New Delhi,05:55,10:40,1 stop via Jaipur,"₹ 15,577"
4481,AirAsia,18/02/2022,Mumbai,New Delhi,07:20,09:30,Non stop,"₹ 15,708"
4482,Vistara,18/02/2022,Mumbai,New Delhi,18:30,20:40,Non stop,"₹ 15,709"
4483,Vistara,18/02/2022,Mumbai,New Delhi,12:15,16:45,1 stop via Udaipur,"₹ 15,813"

Lenght :  4484

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 65
Time Count in Scraping  = 130
City Count in Scraping  = 131
spanFlightCost Count in Scraping  = 65
pFlightStops Count in Scraping  = 65
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4544,AirAsia,19/02/2022,Mumbai,New Delhi,08:15,16:15,1 stop via Ranchi,"₹ 14,238"
4545,AirAsia,19/02/2022,Mumbai,New Delhi,07:20,09:30,Non stop,"₹ 15,708"
4546,Air India,19/02/2022,Mumbai,New Delhi,10:00,12:15,Non stop,"₹ 15,708"
4547,Go First,19/02/2022,Mumbai,New Delhi,05:20,09:50,1 stop via Ahmedabad,"₹ 16,207"
4548,Go First,19/02/2022,Mumbai,New Delhi,15:20,20:20,1 stop via Goa,"₹ 16,917"

Lenght :  4549

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 70
Time Count in Scraping  = 140
City Count in Scraping  = 141
spanFlightCost Count in Scraping  = 70
pFlightStops Count in Scraping  = 70
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4614,Go First,20/02/2022,Mumbai,New Delhi,13:30,15:45,Non stop,"₹ 12,486"
4615,SpiceJet,20/02/2022,Mumbai,New Delhi,13:50,18:35,1 stop via Jodhpur,"₹ 12,503"
4616,SpiceJet,20/02/2022,Mumbai,New Delhi,13:50,18:35,1 stop via Jodhpur,"₹ 12,503"
4617,Air India,20/02/2022,Mumbai,New Delhi,05:35,10:15,1 stop via Nagpur,"₹ 13,083"
4618,Vistara,20/02/2022,Mumbai,New Delhi,12:10,16:20,1 stop via Dehradun,"₹ 13,441"

Lenght :  4619

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 72
Time Count in Scraping  = 144
City Count in Scraping  = 146
spanFlightCost Count in Scraping  = 72
pFlightStops Count in Scraping  = 72
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4686,Vistara,21/02/2022,Mumbai,New Delhi,11:30,16:45,1 stop via Jodhpur,"₹ 9,976"
4687,Vistara,21/02/2022,Mumbai,New Delhi,10:45,15:40,1 stop via Hyderabad,"₹ 10,248"
4688,SpiceJet,21/02/2022,Mumbai,New Delhi,13:50,18:35,1 stop via Jodhpur,"₹ 10,299"
4689,Air India,21/02/2022,Mumbai,New Delhi,05:35,10:55,1 stop via Nagpur,"₹ 11,088"
4690,IndiGo,21/02/2022,Mumbai,New Delhi,09:25,13:40,1 stop via Indore,"₹ 13,136"

Lenght :  4691

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 75
Time Count in Scraping  = 150
City Count in Scraping  = 151
spanFlightCost Count in Scraping  = 75
pFlightStops Count in Scraping  = 75
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4761,Go First,22/02/2022,Mumbai,New Delhi,05:20,09:50,1 stop via Ahmedabad,"₹ 8,859"
4762,Go First,22/02/2022,Mumbai,New Delhi,05:20,09:50,1 stop via Ahmedabad,"₹ 8,859"
4763,IndiGo,22/02/2022,Mumbai,New Delhi,17:30,22:00,1 stop via Ahmedabad,"₹ 8,885"
4764,Vistara,22/02/2022,Mumbai,New Delhi,06:20,12:40,1 stop via Hyderabad,"₹ 10,248"
4765,Vistara,22/02/2022,Mumbai,New Delhi,10:45,15:40,1 stop via Hyderabad,"₹ 10,248"

Lenght :  4766

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 80
Time Count in Scraping  = 160
City Count in Scraping  = 162
spanFlightCost Count in Scraping  = 80
pFlightStops Count in Scraping  = 80
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4841,Air India,23/02/2022,Mumbai,New Delhi,05:35,10:15,1 stop via Nagpur,"₹ 9,828"
4842,IndiGo,23/02/2022,Mumbai,New Delhi,09:25,13:40,1 stop via Indore,"₹ 9,868"
4843,Vistara,23/02/2022,Mumbai,New Delhi,12:15,16:45,1 stop via Udaipur,"₹ 9,881"
4844,Vistara,23/02/2022,Mumbai,New Delhi,10:45,15:40,1 stop via Hyderabad,"₹ 10,248"
4845,IndiGo,23/02/2022,Mumbai,New Delhi,17:30,22:00,1 stop via Ahmedabad,"₹ 10,511"

Lenght :  4846

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=BOM-DEL-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 77
Time Count in Scraping  = 154
City Count in Scraping  = 155
spanFlightCost Count in Scraping  = 77
pFlightStops Count in Scraping  = 77
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4918,IndiGo,24/02/2022,Mumbai,New Delhi,19:15,00:20,1 stop via Ahmedabad,"₹ 10,143"
4919,Vistara,24/02/2022,Mumbai,New Delhi,06:20,12:40,1 stop via Hyderabad,"₹ 10,248"
4920,Vistara,24/02/2022,Mumbai,New Delhi,10:45,15:40,1 stop via Hyderabad,"₹ 10,248"
4921,IndiGo,24/02/2022,Mumbai,New Delhi,17:30,22:00,1 stop via Ahmedabad,"₹ 10,301"
4922,IndiGo,24/02/2022,Mumbai,New Delhi,20:15,00:20,1 stop via Ahmedabad,"₹ 10,563"

Lenght :  4923

-----Skiped-----

--------------
origin = DEL
destin = GOI

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 98
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
4967,IndiGo,18/02/2022,New Delhi,Goa,09:55,12:30,Non stop,"₹ 18,135"
4968,AirAsia,18/02/2022,New Delhi,Goa,05:20,07:50,Non stop,"₹ 20,340"
4969,SpiceJet,18/02/2022,New Delhi,Goa,16:20,19:00,Non stop,"₹ 20,340"
4970,IndiGo,18/02/2022,New Delhi,Goa,18:55,21:30,Non stop,"₹ 20,340"
4971,IndiGo,18/02/2022,New Delhi,Goa,21:45,00:20,Non stop,"₹ 20,340"

Lenght :  4972

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 48
Time Count in Scraping  = 96
City Count in Scraping  = 97
spanFlightCost Count in Scraping  = 48
pFlightStops Count in Scraping  = 48
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5015,SpiceJet,19/02/2022,New Delhi,Goa,09:05,11:35,Non stop,"₹ 14,250"
5016,Vistara,19/02/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 14,880"
5017,IndiGo,19/02/2022,New Delhi,Goa,11:05,13:35,Non stop,"₹ 16,035"
5018,IndiGo,19/02/2022,New Delhi,Goa,09:55,12:30,Non stop,"₹ 20,340"
5019,Air India,19/02/2022,New Delhi,Goa,10:55,13:25,Non stop,"₹ 20,340"

Lenght :  5020

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 51
Time Count in Scraping  = 102
City Count in Scraping  = 104
spanFlightCost Count in Scraping  = 51
pFlightStops Count in Scraping  = 51
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5066,Go First,20/02/2022,New Delhi,Goa,08:40,11:30,Non stop,"₹ 14,564"
5067,Go First,20/02/2022,New Delhi,Goa,10:50,13:30,Non stop,"₹ 15,029"
5068,AirAsia,20/02/2022,New Delhi,Goa,12:40,15:25,Non stop,"₹ 16,033"
5069,Air India,20/02/2022,New Delhi,Goa,10:55,13:25,Non stop,"₹ 18,030"
5070,AirAsia,20/02/2022,New Delhi,Goa,05:20,07:50,Non stop,"₹ 20,340"

Lenght :  5071

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 51
Time Count in Scraping  = 102
City Count in Scraping  = 104
spanFlightCost Count in Scraping  = 51
pFlightStops Count in Scraping  = 51
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5117,AirAsia,21/02/2022,New Delhi,Goa,12:20,14:55,Non stop,"₹ 11,599"
5118,IndiGo,21/02/2022,New Delhi,Goa,09:55,12:30,Non stop,"₹ 14,250"
5119,Vistara,21/02/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 14,880"
5120,Air India,21/02/2022,New Delhi,Goa,10:55,13:25,Non stop,"₹ 18,030"
5121,AirAsia,21/02/2022,New Delhi,Goa,12:40,15:25,Non stop,"₹ 20,340"

Lenght :  5122

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 101
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5167,IndiGo,22/02/2022,New Delhi,Goa,11:05,13:35,Non stop,"₹ 12,250"
5168,Go First,22/02/2022,New Delhi,Goa,10:50,13:30,Non stop,"₹ 12,254"
5169,Air India,22/02/2022,New Delhi,Goa,10:55,13:25,Non stop,"₹ 12,570"
5170,Vistara,22/02/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 14,880"
5171,SpiceJet,22/02/2022,New Delhi,Goa,12:00,14:25,Non stop,"₹ 16,350"

Lenght :  5172

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 49
Time Count in Scraping  = 98
City Count in Scraping  = 100
spanFlightCost Count in Scraping  = 49
pFlightStops Count in Scraping  = 49
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5216,Air India,23/02/2022,New Delhi,Goa,10:55,13:25,Non stop,"₹ 20,340"
5217,Vistara,23/02/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 20,340"
5218,IndiGo,23/02/2022,New Delhi,Goa,12:15,14:50,Non stop,"₹ 20,340"
5219,AirAsia,23/02/2022,New Delhi,Goa,12:40,15:25,Non stop,"₹ 20,340"
5220,IndiGo,23/02/2022,New Delhi,Goa,15:50,18:20,Non stop,"₹ 20,340"

Lenght :  5221

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-GOI-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 50
Time Count in Scraping  = 100
City Count in Scraping  = 102
spanFlightCost Count in Scraping  = 50
pFlightStops Count in Scraping  = 50
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5266,Air India,24/02/2022,New Delhi,Goa,10:55,13:25,Non stop,"₹ 18,030"
5267,IndiGo,24/02/2022,New Delhi,Goa,09:55,12:30,Non stop,"₹ 18,135"
5268,IndiGo,24/02/2022,New Delhi,Goa,11:05,13:35,Non stop,"₹ 20,340"
5269,Vistara,24/02/2022,New Delhi,Goa,11:10,13:50,Non stop,"₹ 20,340"
5270,AirAsia,24/02/2022,New Delhi,Goa,12:40,15:25,Non stop,"₹ 20,340"

Lenght :  5271

-----Skiped-----

origin = DEL
destin = AMD

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-AMD-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
EXCEPTION IN (<ipython-input-19-543a535480fa>, LINE 15 "element = WebDriverWait(driver, 15).until(EC.visibility_of_element_located((By.XPATH, element_xpath)))"): Message:
Stacktrace:
Backtrace:
	Ordinal0 [0x00A9FDC3+2555331]
	Ordinal0 [0x00A377F1+2127857]
	Ordinal0 [0x00932E08+1060360]
	Ordinal0 [0x0095E49E+1238174]
	Ordinal0 [0x0095E69B+1238683]
	Ordinal0 [0x00989252+1413714]
	Ordinal0 [0x00977B54+1342292]
	Ordinal0 [0x009875FA+1406458]
	Ordinal0 [0x00977976+1341814]
	Ordinal0 [0x009536B6+1193654]
	Ordinal0 [0x00954546+1197382]
	GetHandleVerifier [0x00C39622+1619522]
	GetHandleVerifier [0x00CE882C+2336844]
	GetHandleVerifier [0x00B323E1+541697]
	GetHandleVerifier [0x00B31443+537699]
	Ordinal0 [0x00A3D18E+2150798]
	Ordinal0 [0x00A41518+2168088]
	Ordinal0 [0x00A41660+2168416]
	Ordinal0 [0x00A4B330+2208560]
	BaseThreadInitThunk [0x7541FA29+25]
	RtlGetAppContainerNamedObjectPath [0x770D7A9E+286]
	RtlGetAppContainerNamedObjectPath [0x770D7A6E+238]

18/02/2022  scraping complete

origin = DEL
destin = TIR

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5282,IndiGo,18/02/2022,New Delhi,Tirupati,06:10,11:45,1 stop via Bengaluru,"₹ 14,933"
5283,IndiGo,18/02/2022,New Delhi,Tirupati,07:55,13:30,1 stop via Hyderabad,"₹ 15,090"
5284,IndiGo,18/02/2022,New Delhi,Tirupati,11:00,16:40,1 stop via Hyderabad,"₹ 15,090"
5285,"Air India, IndiGo",18/02/2022,New Delhi,Tirupati,08:10,13:30,1 stop via Hyderabad,"₹ 15,763"
5286,"Vistara, IndiGo",18/02/2022,New Delhi,Tirupati,07:30,13:30,1 stop via Hyderabad,"₹ 15,869"

Lenght :  5287

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 16
Time Count in Scraping  = 32
City Count in Scraping  = 32
spanFlightCost Count in Scraping  = 16
pFlightStops Count in Scraping  = 16
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5298,IndiGo,19/02/2022,New Delhi,Tirupati,09:40,13:30,1 stop via Hyderabad,"₹ 12,203"
5299,IndiGo,19/02/2022,New Delhi,Tirupati,12:00,19:25,"2 stop via Mumbai,Hyderabad","₹ 12,675"
5300,IndiGo,19/02/2022,New Delhi,Tirupati,07:55,13:30,1 stop via Hyderabad,"₹ 13,566"
5301,IndiGo,19/02/2022,New Delhi,Tirupati,11:00,16:40,1 stop via Hyderabad,"₹ 13,566"
5302,"Air India, IndiGo",19/02/2022,New Delhi,Tirupati,08:10,13:30,1 stop via Hyderabad,"₹ 14,817"

Lenght :  5303

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 12
Time Count in Scraping  = 24
City Count in Scraping  = 26
spanFlightCost Count in Scraping  = 12
pFlightStops Count in Scraping  = 12
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5310,IndiGo,20/02/2022,New Delhi,Tirupati,09:40,16:40,1 stop via Hyderabad,"₹ 10,416"
5311,IndiGo,20/02/2022,New Delhi,Tirupati,11:00,19:25,1 stop via Hyderabad,"₹ 10,416"
5312,IndiGo,20/02/2022,New Delhi,Tirupati,12:55,19:25,1 stop via Hyderabad,"₹ 11,256"
5313,IndiGo,20/02/2022,New Delhi,Tirupati,06:10,11:45,1 stop via Bengaluru,"₹ 11,258"
5314,IndiGo,20/02/2022,New Delhi,Tirupati,11:00,16:40,1 stop via Hyderabad,"₹ 11,361"

Lenght :  5315

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 11
Time Count in Scraping  = 22
City Count in Scraping  = 23
spanFlightCost Count in Scraping  = 11
pFlightStops Count in Scraping  = 11
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5321,IndiGo,21/02/2022,New Delhi,Tirupati,09:40,19:25,1 stop via Hyderabad,"₹ 8,895"
5322,IndiGo,21/02/2022,New Delhi,Tirupati,11:00,19:25,1 stop via Hyderabad,"₹ 9,105"
5323,Air India,21/02/2022,New Delhi,Tirupati,08:10,13:35,1 stop via Hyderabad,"₹ 9,420"
5324,IndiGo,21/02/2022,New Delhi,Tirupati,06:45,13:30,1 stop via Hyderabad,"₹ 9,630"
5325,IndiGo,21/02/2022,New Delhi,Tirupati,11:00,16:40,1 stop via Hyderabad,"₹ 10,416"

Lenght :  5326

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 41
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5341,IndiGo,22/02/2022,New Delhi,Tirupati,08:45,19:25,"2 stop via Mumbai,Hyderabad","₹ 10,575"
5342,IndiGo,22/02/2022,New Delhi,Tirupati,07:15,19:25,"2 stop via Mumbai,Hyderabad","₹ 10,575"
5343,IndiGo,22/02/2022,New Delhi,Tirupati,06:30,19:25,"2 stop via Mumbai,Hyderabad","₹ 10,575"
5344,SpiceJet,22/02/2022,New Delhi,Tirupati,18:35,07:40,1 stop via Hyderabad,"₹ 11,836"
5345,Air India,22/02/2022,New Delhi,Tirupati,20:40,13:35,"2 stop via Chennai,Hyderabad","₹ 19,133"

Lenght :  5346

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 14
Time Count in Scraping  = 28
City Count in Scraping  = 29
spanFlightCost Count in Scraping  = 14
pFlightStops Count in Scraping  = 14
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5355,Air India,23/02/2022,New Delhi,Tirupati,08:10,13:35,1 stop via Hyderabad,"₹ 9,315"
5356,IndiGo,23/02/2022,New Delhi,Tirupati,11:00,16:40,1 stop via Hyderabad,"₹ 9,366"
5357,IndiGo,23/02/2022,New Delhi,Tirupati,09:40,16:40,1 stop via Hyderabad,"₹ 9,366"
5358,IndiGo,23/02/2022,New Delhi,Tirupati,07:55,13:30,1 stop via Hyderabad,"₹ 9,996"
5359,IndiGo,23/02/2022,New Delhi,Tirupati,06:45,13:30,1 stop via Hyderabad,"₹ 9,996"

Lenght :  5360

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-TIR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 20
Time Count in Scraping  = 40
City Count in Scraping  = 41
spanFlightCost Count in Scraping  = 20
pFlightStops Count in Scraping  = 20
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5375,IndiGo,24/02/2022,New Delhi,Tirupati,08:45,19:25,"2 stop via Mumbai,Hyderabad","₹ 11,363"
5376,IndiGo,24/02/2022,New Delhi,Tirupati,07:15,19:25,"2 stop via Mumbai,Hyderabad","₹ 11,363"
5377,IndiGo,24/02/2022,New Delhi,Tirupati,06:30,19:25,"2 stop via Mumbai,Hyderabad","₹ 11,363"
5378,IndiGo,24/02/2022,New Delhi,Tirupati,12:00,19:25,"2 stop via Mumbai,Hyderabad","₹ 11,625"
5379,Air India,24/02/2022,New Delhi,Tirupati,20:40,13:35,"2 stop via Chennai,Hyderabad","₹ 19,238"

Lenght :  5380

-----Skiped-----

origin = DEL
destin = BLR

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 63
Time Count in Scraping  = 126
City Count in Scraping  = 127
spanFlightCost Count in Scraping  = 63
pFlightStops Count in Scraping  = 63
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5438,"Air India, AirAsia",18/02/2022,New Delhi,Bengaluru,09:45,15:30,1 stop via Hyderabad,"₹ 11,721"
5439,"IndiGo, AirAsia",18/02/2022,New Delhi,Bengaluru,09:40,15:30,1 stop via Hyderabad,"₹ 11,721"
5440,Air India,18/02/2022,New Delhi,Bengaluru,17:15,22:15,1 stop via Hyderabad,"₹ 11,888"
5441,IndiGo,18/02/2022,New Delhi,Bengaluru,07:55,13:20,1 stop via Hyderabad,"₹ 12,203"
5442,Go First,18/02/2022,New Delhi,Bengaluru,10:50,15:10,1 stop via Goa,"₹ 30,222"

Lenght :  5443

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 63
Time Count in Scraping  = 126
City Count in Scraping  = 127
spanFlightCost Count in Scraping  = 63
pFlightStops Count in Scraping  = 63
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5501,"IndiGo, AirAsia",19/02/2022,New Delhi,Bengaluru,17:30,23:45,1 stop via Chennai,"₹ 12,573"
5502,"IndiGo, AirAsia",19/02/2022,New Delhi,Bengaluru,17:30,23:45,1 stop via Chennai,"₹ 12,573"
5503,AirAsia,19/02/2022,New Delhi,Bengaluru,18:35,00:55,1 stop via Mumbai,"₹ 12,676"
5504,Vistara,19/02/2022,New Delhi,Bengaluru,12:50,17:45,1 stop via Mumbai,"₹ 13,148"
5505,AirAsia,19/02/2022,New Delhi,Bengaluru,16:05,18:45,Non stop,"₹ 20,340"

Lenght :  5506

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 63
Time Count in Scraping  = 126
City Count in Scraping  = 128
spanFlightCost Count in Scraping  = 63
pFlightStops Count in Scraping  = 63
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5564,AirAsia,20/02/2022,New Delhi,Bengaluru,08:00,10:40,Non stop,"₹ 20,340"
5565,Air India,20/02/2022,New Delhi,Bengaluru,09:45,12:30,Non stop,"₹ 20,340"
5566,AirAsia,20/02/2022,New Delhi,Bengaluru,16:05,18:45,Non stop,"₹ 20,340"
5567,AirAsia,20/02/2022,New Delhi,Bengaluru,19:00,21:45,Non stop,"₹ 20,340"
5568,Go First,20/02/2022,New Delhi,Bengaluru,10:50,15:10,1 stop via Goa,"₹ 26,232"

Lenght :  5569

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 64
Time Count in Scraping  = 128
City Count in Scraping  = 129
spanFlightCost Count in Scraping  = 64
pFlightStops Count in Scraping  = 64
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5628,IndiGo,21/02/2022,New Delhi,Bengaluru,06:45,13:20,1 stop via Hyderabad,"₹ 11,293"
5629,Air India,21/02/2022,New Delhi,Bengaluru,20:15,01:50,1 stop via Kolkata,"₹ 11,520"
5630,Go First,21/02/2022,New Delhi,Bengaluru,10:50,15:10,1 stop via Goa,"₹ 11,619"
5631,Air India,21/02/2022,New Delhi,Bengaluru,09:45,12:30,Non stop,"₹ 16,455"
5632,Air India,21/02/2022,New Delhi,Bengaluru,17:20,20:05,Non stop,"₹ 16,455"

Lenght :  5633

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 62
Time Count in Scraping  = 124
City Count in Scraping  = 125
spanFlightCost Count in Scraping  = 62
pFlightStops Count in Scraping  = 62
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5690,AirAsia,22/02/2022,New Delhi,Bengaluru,15:25,20:50,1 stop via Pune,"₹ 10,680"
5691,Vistara,22/02/2022,New Delhi,Bengaluru,17:45,22:50,1 stop via Mumbai,"₹ 10,680"
5692,Vistara,22/02/2022,New Delhi,Bengaluru,14:20,19:15,1 stop via Mumbai,"₹ 10,785"
5693,IndiGo,22/02/2022,New Delhi,Bengaluru,21:25,00:20,Non stop,"₹ 13,620"
5694,Go First,22/02/2022,New Delhi,Bengaluru,10:50,15:10,1 stop via Goa,"₹ 17,753"

Lenght :  5695

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 67
Time Count in Scraping  = 134
City Count in Scraping  = 136
spanFlightCost Count in Scraping  = 67
pFlightStops Count in Scraping  = 67
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5757,Vistara,23/02/2022,New Delhi,Bengaluru,05:45,10:45,1 stop via Mumbai,"₹ 10,680"
5758,Vistara,23/02/2022,New Delhi,Bengaluru,12:50,17:45,1 stop via Mumbai,"₹ 10,680"
5759,Vistara,23/02/2022,New Delhi,Bengaluru,14:20,19:15,1 stop via Mumbai,"₹ 10,680"
5760,Vistara,23/02/2022,New Delhi,Bengaluru,17:45,22:50,1 stop via Mumbai,"₹ 10,680"
5761,IndiGo,23/02/2022,New Delhi,Bengaluru,07:05,11:40,1 stop via Raipur,"₹ 11,205"

Lenght :  5762

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BLR-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 65
Time Count in Scraping  = 130
City Count in Scraping  = 131
spanFlightCost Count in Scraping  = 65
pFlightStops Count in Scraping  = 65
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5822,Vistara,24/02/2022,New Delhi,Bengaluru,14:20,19:15,1 stop via Mumbai,"₹ 10,680"
5823,Vistara,24/02/2022,New Delhi,Bengaluru,15:30,20:55,1 stop via Mumbai,"₹ 10,680"
5824,Vistara,24/02/2022,New Delhi,Bengaluru,17:45,22:50,1 stop via Mumbai,"₹ 10,680"
5825,Vistara,24/02/2022,New Delhi,Bengaluru,05:45,10:45,1 stop via Mumbai,"₹ 10,995"
5826,Go First,24/02/2022,New Delhi,Bengaluru,10:50,15:10,1 stop via Goa,"₹ 19,450"

Lenght :  5827

-----Skiped-----

origin = DEL
destin = BOM

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-18/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 65
Time Count in Scraping  = 130
City Count in Scraping  = 131
spanFlightCost Count in Scraping  = 65
pFlightStops Count in Scraping  = 65
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5887,SpiceJet,18/02/2022,New Delhi,Mumbai,19:20,23:50,1 stop via Jaipur,"₹ 14,959"
5888,IndiGo,18/02/2022,New Delhi,Mumbai,05:15,10:05,1 stop via Ahmedabad,"₹ 15,720"
5889,IndiGo,18/02/2022,New Delhi,Mumbai,07:20,12:25,1 stop via Udaipur,"₹ 15,720"
5890,Vistara,18/02/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 15,983"
5891,Vistara,18/02/2022,New Delhi,Mumbai,13:20,18:20,1 stop via Varanasi,"₹ 16,298"

Lenght :  5892

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-19/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 68
Time Count in Scraping  = 136
City Count in Scraping  = 137
spanFlightCost Count in Scraping  = 68
pFlightStops Count in Scraping  = 68
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
5955,IndiGo,19/02/2022,New Delhi,Mumbai,14:05,17:55,1 stop via Indore,"₹ 13,767"
5956,IndiGo,19/02/2022,New Delhi,Mumbai,18:00,22:25,1 stop via Indore,"₹ 13,767"
5957,IndiGo,19/02/2022,New Delhi,Mumbai,05:15,10:05,1 stop via Ahmedabad,"₹ 14,744"
5958,IndiGo,19/02/2022,New Delhi,Mumbai,09:05,13:15,1 stop via Rajkot,"₹ 15,720"
5959,IndiGo,19/02/2022,New Delhi,Mumbai,10:30,14:35,1 stop via Jodhpur,"₹ 15,720"

Lenght :  5960

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-20/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 68
Time Count in Scraping  = 136
City Count in Scraping  = 138
spanFlightCost Count in Scraping  = 68
pFlightStops Count in Scraping  = 68
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
6023,IndiGo,20/02/2022,New Delhi,Mumbai,17:55,23:15,1 stop via Bhopal,"₹ 15,720"
6024,IndiGo,20/02/2022,New Delhi,Mumbai,18:30,23:25,1 stop via Ahmedabad,"₹ 15,720"
6025,Vistara,20/02/2022,New Delhi,Mumbai,16:45,19:05,Non stop,"₹ 15,721"
6026,Vistara,20/02/2022,New Delhi,Mumbai,19:00,21:15,Non stop,"₹ 15,721"
6027,Vistara,20/02/2022,New Delhi,Mumbai,20:40,22:50,Non stop,"₹ 15,721"

Lenght :  6028

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-21/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 78
Time Count in Scraping  = 156
City Count in Scraping  = 157
spanFlightCost Count in Scraping  = 78
pFlightStops Count in Scraping  = 78
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
6101,Vistara,21/02/2022,New Delhi,Mumbai,16:05,21:50,1 stop via Bengaluru,"₹ 12,150"
6102,Vistara,21/02/2022,New Delhi,Mumbai,05:55,11:25,1 stop via Bengaluru,"₹ 12,255"
6103,IndiGo,21/02/2022,New Delhi,Mumbai,05:30,10:55,1 stop via Indore,"₹ 12,302"
6104,Go First,21/02/2022,New Delhi,Mumbai,08:00,10:10,Non stop,"₹ 12,520"
6105,IndiGo,21/02/2022,New Delhi,Mumbai,18:00,22:25,1 stop via Indore,"₹ 12,791"

Lenght :  6106

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-22/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 80
Time Count in Scraping  = 160
City Count in Scraping  = 162
spanFlightCost Count in Scraping  = 80
pFlightStops Count in Scraping  = 80
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
6181,Vistara,22/02/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 10,260"
6182,SpiceJet,22/02/2022,New Delhi,Mumbai,15:45,20:05,1 stop via Jodhpur,"₹ 10,521"
6183,Air India,22/02/2022,New Delhi,Mumbai,10:15,15:05,1 stop via Varanasi,"₹ 10,680"
6184,IndiGo,22/02/2022,New Delhi,Mumbai,05:15,10:05,1 stop via Ahmedabad,"₹ 11,153"
6185,SpiceJet,22/02/2022,New Delhi,Mumbai,07:45,12:00,1 stop via Jabalpur,"₹ 11,624"

Lenght :  6186

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-23/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 86
Time Count in Scraping  = 172
City Count in Scraping  = 174
spanFlightCost Count in Scraping  = 86
pFlightStops Count in Scraping  = 86
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
6267,Vistara,23/02/2022,New Delhi,Mumbai,17:10,21:35,1 stop via Chandigarh,"₹ 9,893"
6268,Vistara,23/02/2022,New Delhi,Mumbai,17:40,23:00,1 stop via Hyderabad,"₹ 10,260"
6269,IndiGo,23/02/2022,New Delhi,Mumbai,18:00,22:25,1 stop via Indore,"₹ 10,349"
6270,Air India,23/02/2022,New Delhi,Mumbai,10:15,15:05,1 stop via Varanasi,"₹ 11,100"
6271,IndiGo,23/02/2022,New Delhi,Mumbai,05:15,10:05,1 stop via Ahmedabad,"₹ 11,153"

Lenght :  6272

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object

Requesting URL: https://www.makemytrip.com/flight/search?itinerary=DEL-BOM-24/02/2022&tripType=O&paxType=A-1_C-0_I-0&intl=false&=&cabinClass=E
Webpage found ...
Scrolling document upto bottom ...

C:\Users\WIN-10\anaconda3\lib\site-packages\ipykernel_launcher.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead

Closing Chrome ...
Getting data from DOM ...
spanFlightName  = 86
Time Count in Scraping  = 172
City Count in Scraping  = 173
spanFlightCost Count in Scraping  = 86
pFlightStops Count in Scraping  = 86
Transaform Function Running....

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"
...,...,...,...,...,...,...,...,...
6353,SpiceJet,24/02/2022,New Delhi,Mumbai,07:45,12:00,1 stop via Jabalpur,"₹ 8,264"
6354,Go First,24/02/2022,New Delhi,Mumbai,16:40,21:25,1 stop via Ahmedabad,"₹ 9,448"
6355,Air India,24/02/2022,New Delhi,Mumbai,13:15,17:50,1 stop via Udaipur,"₹ 9,735"
6356,IndiGo,24/02/2022,New Delhi,Mumbai,05:15,10:05,1 stop via Ahmedabad,"₹ 9,861"
6357,Vistara,24/02/2022,New Delhi,Mumbai,17:10,21:35,1 stop via Chandigarh,"₹ 10,575"

Lenght :  6358

-----Skiped-----

origin = DEL
destin = DEL

In [28]:
flight_data.head(5)

,Airline,Journey_date,From,To,Dtime,Atime,Stops,Price
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SpiceJet,18/02/2022,Goa,Ahmedabad,06:20,08:20,Non stop,"₹ 5,315"
2,Go First,18/02/2022,Goa,Ahmedabad,20:40,22:15,Non stop,"₹ 5,315"
3,Go First,18/02/2022,Goa,Ahmedabad,14:00,20:55,1 stop via Bengaluru,"₹ 5,315"
4,IndiGo,18/02/2022,Goa,Ahmedabad,23:25,01:00,Non stop,"₹ 5,316"

In [30]:
##saving data frame as excelfile
flight_data.to_excel('E:\\flight_data.xlsx')